<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Вход в личный кабинет</title>
  <link rel="stylesheet" href="{{url_for('static', filename='styles/css/normalize.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='styles/css/style.css')}}">
  <link rel="icon" href="{{url_for('static', filename='styles/img/Logo.svg')}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montaga&display=swap" rel="stylesheet">
  <script defer src="{{ url_for('static', filename='js/burger.js')}}"></script>
</head>

<body>
  <div class="content">
    <header class="header style-1">
      <div class="header__container container">
        <a class="header__logo" href="{{url_for('main.index')}}">
          <img class="header__logo-image" src="{{url_for('static', filename='styles/img/logo.png')}}"
            alt="Логотип MAGIC BOOK KEEPER">
        </a>
  
        <div class="header__right">
          <span class="header__menu">Меню</span>
          <button class="header__burger hamburger hamburger__collapse js-burger" type="button">
            <span class="hamburger__box">
              <span class="hamburger__inner"></span>
            </span>
          </button>
        </div>
  
        <nav class="nav header__nav">
          <div class="nav__menu js-menu-wrap">
            <ul class="nav__list list-reset">
              <li class="nav__item"><a class="nav__link" href="{{url_for('main.index')}}">Главная</a></li>
              <li class="nav__item"><a class="nav__link" href="{{url_for('auth.register')}}">Регистрация</a></li>
              <li class="nav__item"><a class="nav__link" href="{{url_for('main.categories')}}">Категории книг</a></li>
            </ul>
          </div>
  
        </nav>
      </div>
    </header>
  
    <main>
      <section class="main style-1">
        <div class="main__container container">
  
          <div class="main__top">
            <h1 class="main__title">Личный кабинет</h1>
  
            <svg width="461" height="1" viewBox="0 0 461 1" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line y1="0.5" x2="461" y2="0.5" stroke="#F5F5DC" />
            </svg>
          </div>
  
        </div>
      </section>
  
      <section class="form">
        <div class="form__container container">
          <form class="form__wrap" action="" method="post">
            {{form.hidden_tag()}}
            <label class="form__label">
              <span class="form__span">Ваш email</span>
              {% if form.email.errors %}
              {{form.email(class="form__input", placeholder='Введите email')}}
              <span class="form__help">
                {% for msg in form.email.errors %}
                {{ msg }}
                {% endfor %}
              </span>
              {% else %}
              {{form.email(class="form__input", placeholder='Введите email')}}
              {% endif %}
            </label>
  
            <label class="form__label">
              <span class="form__span">Ваш пароль</span>
              {% if form.password.errors %}
              {{form.password(class="form__input", placeholder='Введите пароль')}}
              <span class="form__help">
                {% for msg in form.password.errors %}
                {{ msg }}
                {% endfor %}
              </span>
              {% else %}
              {{form.password(class="form__input", placeholder='Введите пароль')}}
              {% endif %}
            </label>
  
            <label class="form__genre">
              {{form.remember_me(class="form__check-text")}}
              <span class="form__check-text">Запомнить меня</span>
            </label>
  
            <button class="btn form__btn ">Войти</button>

            <p class="form__span">Забыли пароль? <a class="form__forget" href="{{url_for('auth.change_password_try')}}">Нажмите здесь, чтобы
              заменить его</a>.</p>
          </form>
          
        </div>
      </section>
    </main>
  </div>
  

  <footer class="footer">
    <div class="footer__container container">
      <a href="#" class="footer__wrap">© MBK | Community Magic Book Keeper</a>
    </div>
  </footer>

</body>

</html>