<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Регистрация</title>
  <link rel="stylesheet" href="{{url_for('static', filename='styles/css/normalize.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='styles/css/style.css')}}">
  <link rel="icon" href="{{url_for('static', filename='styles/img/Logo.svg')}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montaga&display=swap" rel="stylesheet">
  <script defer src="{{ url_for('static', filename='js/burger.js')}}"></script>
</head>

<body>
  <div class="content">
    <header class="header style-1">
      <div class="header__container container">
        <a class="header__logo" href="{{url_for('main.index')}}">
          <img class="header__logo-image" src="{{url_for('static', filename='styles/img/logo.png')}}"
            alt="Логотип MAGIC BOOK KEEPER">
        </a>
  
        <div class="header__right">
          <span class="header__menu">Меню</span>
          <button class="header__burger hamburger hamburger__collapse js-burger" type="button">
            <span class="hamburger__box">
              <span class="hamburger__inner"></span>
            </span>
          </button>
        </div>
  
        <nav class="nav header__nav">
          <div class="nav__menu js-menu-wrap">
            <ul class="nav__list list-reset">
              <li class="nav__item"><a class="nav__link" href="{{url_for('main.index')}}">Главная</a></li>
              <li class="nav__item"><a class="nav__link" href="{{url_for('main.categories')}}">Категории книг</a></li>
            </ul>
          </div>
  
        </nav>
  
      </div>
    </header>
  
    <main>
      <section class="main style-1">
        <div class="main__container container">
  
          <div class="main__top">
            <!-- <span class="main__span">Welcome!</span> -->
            <h1 class="main__title">Регистрация</h1>
  
            <svg width="461" height="1" viewBox="0 0 461 1" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line y1="0.5" x2="461" y2="0.5" stroke="#F5F5DC" />
            </svg>
  
          </div>
  
          <!-- <div class="main__bottom">
            <a class="main__bottom-item" href="#">Регистрация</a>
            <a class="main__bottom-item" href="#">Личный кабинет</a>
          </div> -->
  
        </div>
      </section>
  
      <section class="form">
        <div class="form__container container">
          <form class="form__wrap" action="" method="post">
            {{form.hidden_tag()}}
            <label class="form__label">
              <span class="form__span">Ваш email</span>
              {% if form.email.errors %}
              {{form.email(class="form__input", placeholder='Введите email')}}
              <span>
                {% for msg in form.email.errors %}
                {{ msg }}
                {% endfor %}
              </span>
              {% else %}
              {{form.email(class="form__input", placeholder='Введите email')}}
              {% endif %}
            </label>
  
            <label class="form__label">
              <span class="form__span">Ваш логин</span>
              {% if form.username.errors %}
              {{form.username(class="form__input", placeholder='Введите логин')}}
              <span>
                {% for msg in form.username.errors %}
                <span class="form__help">{{ msg }}</span>
                {% endfor %}
              </span>
              {% else %}
              {{form.username(class="form__input", placeholder='Введите логин')}}
              {% endif %}
              <span class="form__help">Логин содержит только буквы, цифры, точки или символы подчеркивания.</span>
            </label>
  
            <label class="form__label">
              <span class="form__span">Ваш пароль</span>
              {% if form.password.errors %}
              {{form.password(class="form__input", placeholder='Введите пароль')}}
              <span>
                {% for msg in form.password.errors %}
                {{ msg }}
                {% endfor %}
              </span>
              {% else %}
              {{form.password(class="form__input", placeholder='Введите пароль')}}
              {% endif %}
              <span class="form__help">Пароль должен быть от 6 до 20 символов включительно.</span>
            </label>
  
            <label class="form__label">
              <span class="form__span">Подтвердите пароль</span>
              {% if form.password2.errors %}
              {{form.password2(class="form__input", placeholder='Повторите пароль')}}
              <span>
                {% for msg in form.password2.errors %}
                {{ msg }}
                {% endfor %}
              </span>
              {% else %}
              {{form.password2(class="form__input", placeholder='Повторите пароль')}}
              {% endif %}
            </label>
  
            <button class="form__btn btn">Зарегистрироваться</button>
          </form>
          <!-- <form class="form__wrap" action="" method="post">
            <label  class="form__label">
              <span class="form__span">Ваш email</span>
              <input type="email" class="form__input" name="email">
            </label> 
  
            <label  class="form__label">
              <span class="form__span">Ваш логин</span>
              <input type="text" class="form__input" name="username" placeholder="Введите логин" required>
            </label>
  
            <label  class="form__label">
              <span class="form__span">Ваш пароль</span>
              <input type="password" class="form__input" name="password" placeholder="Введите пароль" required>
              <span class="form__help">Пароль должен состоять из шести символов, включающих себя буквы верхнего и нижнего регистров</span>
            </label>
            
            <label  class="form__label">
              <span class="form__span">Подтвердите пароль</span>
              <input type="password" class="form__input" name="password2" placeholder="Повторите пароль" required>
            </label>
  
            <button class="form__btn btn">Зарегистрироваться</button>
          </form> -->
        </div>
      </section>
    </main>
  </div>
  

  <footer class="footer">
    <div class="footer__container container">
      <a href="#" class="footer__wrap">© CLUB | Community Head Hunters</a>
    </div>
  </footer>

</body>

</html>