<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Books Moderation</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/normalize.css')}}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/style.css')}}" />
  <link rel="icon" href="{{url_for('static', filename='styles/img/Logo.svg')}}">
  <script src="{{url_for('static', filename='js/jquery.min.js.js')}}"></script>
  <!-- <script src="{{ url_for('static', filename='js/admin/admin_panel/pagination.js')}}"></script> -->
  <!-- <script src="{{ url_for('static', filename='js/admin/admin_panel/search_users.js')}}"></script> -->
  <script src="{{ url_for('static', filename='js/moderation/book/book_item.js')}}"></script>
  <script>
function setStatusLampColor(lampId, status) {
    statusLamp = document.getElementById(lampId);
    if (status == {{ ModerationRequest.STATUS_OPEN }}) {
        statusLamp.style["background-color"] = "gray";
    } else if (status == {{ ModerationRequest.STATUS_ACCEPTED }}) {
        statusLamp.style["background-color"] = "MediumSeaGreen";
    } else if (status == {{ ModerationRequest.STATUS_REJECTED }}) {
        statusLamp.style["background-color"] = "red";
    } else {
        console.log("Error: unexpected ModerationRequest.status value: " + status);
    }
}
  </script>
  <script src="{{ url_for('static', filename='js/page_scroll.js')}}"></script>

<style>
.status__lamp__parent {
    position: relative;
}

.status__lamp {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    border: 1px solid;
    position: absolute;
    top: 5px;
    right: 5px;
}
</style>
<style>
#book_search_filters_form {
    margin: 10px;
    display: block;

}
#book_search_filters_form > div {
    display: flex;
    justify-content: space-between;

}
</style>
</head>

<body>
</head>

<body>
  <div class="content">
    {% include "common/header.html" %}

    <main>
      <section class="main">
        <div class="main__container container">

          <div class="main__top">

            <h1 class="main__title">Hello, {{ current_user.username }} admin</h1>
            <!--Hello, имя пользователя!-->

            <svg width="461" height="1" viewBox="0 0 461 1" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line y1="0.5" x2="461" y2="0.5" stroke="#F5F5DC" />
            </svg>

          </div>

          <nav class=" header__nav">
            <ul class="nav__admin-list list-reset">
              <li class="nav__admin-item">
                <a id="users_list" class="nav__admin-link" data-info="users_search">Список пользователей</a>
              </li>
              <li class="nav__admin-item">
                <a id="categories_list" class="nav__admin-link" data-info="book_categories">Список категорий книг</a>
              </li>
              <li class="nav__admin-item">
                <a class="nav__admin-link">Настройки</a>
              </li>
            </ul>
          </nav>
        </div>
      </section>

      <section class="list" id="book_search">
        <div class="container list__container" id="books_keeper_cont">
          <div class="list__wrap" id="2cont">
            <h2 class="list__title title" id="category_title">Модерация книг</h2>
            <div>
                <form style="display:block;" id="book_search_filters_form" action="{{ url_for('moderation.book_search') }}" method="post">
                {{form.hidden_tag()}}
                <div>
                  <h2>Поиск по фильтрам</h2>
                </div>
                <div>
                  <!-- TODO: keep filter values after request -->
                  <span>Название книги:</span>
                  {{ form.bookname(type="text") }}
                </div>
                <div>
                  <span>Имя пользователя:</span>
                  {{ form.username(type="text") }}
                </div>
                <div>
                  <span>Категория:</span>
                  {{ form.category() }}
                </div>
                <div>
                  <span>Статус заявки:</span>
                  {{ form.status() }}
                </div>
                <div>
                  <!-- TODO: the button -->
                  <input type="submit" value="Подтвердить">
                </div>
              </form>
              <ul class="list-reset" id="moderation_books">
                <li>
                  <h2>Результаты поиска</h4>
                </li>
                {% if book_list|length > 0 %}
                  {% for book in book_list %}
                    <li class="item__list__container status__lamp__parent" id="book_{{ book.id }}">
                      {# Book item header #}
                      <a class="item__list__header book__btn" id="book_header_{{ book.id }}" href="javascript:bookItemDetailOpen('{{ book.id }}');">
                        <div>
                          <!-- <img src="/user/{{ book.name }}/edit-profile/edit-avatar" alt="" class="users__img">  -->
                          <img class="moderation__book__img" src="/{{ book.id }}/get-cover" alt="">
                        </div>
                        <div class="item__list__detail">
                          <div><b>Книга:</b><span>{{ book.name }}</span></div>
                          <div><b>Пользователь: </b><span>{{ book.user.username }}</span></div>
                          <div><b>Время загрузки: </b><span>{{ book.timestamp.strftime("%H:%M %d.%m.%Y") }}</span></div>
                          <div><b>Статус заявки:</b><span id="item_header_status_{{ book.id }}">{{ book.moderation_request.status_str() }}</span></div>
                          <div><b></b><i>v раскрыть v</i></div>
                        </div>
                      </a>
                      {# Book item detailes #}
                      <div class="item__list__detail" id="book_detail_{{ book.id }}", style="display: none;">
                        {% if book.name %}
                          <div><b>Название:</b><span>{{ book.name }}</span></div>
                        {% endif %}
                        {% if book.author %}
                          <div><b>Автор:</b><span>{{ book.author }}</span></div>
                        {% endif %}
                        {% if book.description %}
                          <div><b>Описание:</b><span>{{ book.description }}</span></div>
                        {% endif %}
                        {% if book.reference_url %}
                          <div><b>Ссылка:</b><a href="{{ book.reference_url }}">{{ book.reference_url }}</a></div>
                        {% endif %}
                        {% if book.isbn %}
                          <div><b>ISBN:</b><span>{{ book.isbn }}</span></div>
                        {% endif %}
                        {% if book.publishing_house %}
                          <div><b>Издательство:</b><span>{{ book.publishing_house }}</span></div>
                        {% endif %}
                        {% if book.release_date %}
                          <div><b>Дата выпуска:</b><span>{{ book.release_date }}</span></div>
                        {% endif %}
                        {% if book.count_of_chapters %}
                          <div><b>Количество глав:</b><span>{{ book.count_of_chapters }}</span></div>
                        {% endif %}
                        {% if book.category.name %}
                          <div><b>Категория:</b><span>{{ book.category.name }}</span></div>
                        {% endif %}
                        <div><b></b><a class="item__button" href="/admin/{{ current_user.username }}/change_book_info/{{ book.id }}">Изменить значения</a></div>
                      </div>
                      {# Book item moderation stuff #}
                      <form class="item__list__footer" id="status_form_{{ book.id }}">
                        {{ status_form.hidden_tag() }}
                        {{ status_form.book_id(type="hidden", value=book.id) }}
                        {{ status_form._comment(placeholder="Комментарий... (Не больше 128 символов)", default=book.moderation_request.comment) }}
                        {{ status_form.status(id="status_select_" ~ book.id) }}
                        <input type="submit" value="Отправить">
                      </form>
                      <script type="text/javascript">
                          setStatusOnSubmit("{{ book.id }}");
                          setStatusSelectedValue("status_select_{{ book.id }}", {{ book.moderation_request.status }});
                      </script>
                      {# Display ModerationRequest.status as a colored indication in the top-right corner #}
                      <div class="status__lamp" id="lamp_{{ book.id }}" style="background-color: gray;"></div>
                      <script>setStatusLampColor("lamp_{{ book.id }}", {{ book.moderation_request.status }});</script>
                    </li>
                  {% endfor %}
                {% else %}
                  <li>
                    <span>Не найдено ни одной книги</span>
                  </div>
                {% endif %}
              </ul>
            </div>
            {# Pagination  #}
            <div class="list__pagination pagination" id="item_pagination_container">
              <ul class="pagination__list list-reset" id="1pagination">
                <li class="pagination__item disabled">&bull;</li>
                  {% for page in pagination.iter_pages() %}
                    {% if page is not none %}
                      {% if page == pagination.page %}
                        <li class="pagination__item_cur_page">
                      {% else %}
                        <li class="pagination__item active">
                      {% endif %}
                          <a id="{{ page }}item_p" data-url="{{ url_for('moderation.book_search') }}/{{ page }}" data-pagid="1pagination">{{ page }}</a>
                        </li>
                    {% else %}
                      <li class="pagination__item disabled"><a href="#">&hellip;</a></li>
                    {% endif %}
                  {% endfor %}
                <li class="pagination__item disabled">&bull;</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <script>scroll("add_category")</script>
    </main>
  </div>
  
  <footer class="footer">
    <div class="footer__container container">
      <a href="#" class="footer__wrap">© MBK | Community Magic Book Keeper</a>
    </div>
  </footer>
</body>
</html>
