<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Личный кабинет</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/normalize.css')}}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/style.css')}}" />
  <link rel="icon" href="{{url_for('static', filename='styles/img/Logo.svg')}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montaga&display=swap" rel="stylesheet">
</head>

<body>
  <div class="content">
    {% include "common/header.html" %}
  
    <main>
      <section class="main style-1">
        <div class="main__container container">
  
          <div class="main__top">
            <!-- <span class="main__span">Welcome!</span> -->
            <h1 class="main__title">Hello, {{ current_user.username }}!</h1>
            <!--Hello, имя пользователя!-->
  
            <svg width="461" height="1" viewBox="0 0 461 1" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line y1="0.5" x2="461" y2="0.5" stroke="#E9E6C3" />
            </svg>
  
          </div>
  
        </div>
      </section>
  
  
      <section class="profile">
        <div class="profile__container container">
          <div class="profile__wrap">
            <form class="profile__form" enctype="multipart/form-data" method="post">
              <!--Вопрос по поводу enctype(action?)-->
              {{ form.hidden_tag() }}

              <div>
                <div class=profile__container>
                  <span class="profile__span" style="">Фото профиля</span>
                </div>
                <div class="profile__image profile__image-edit">
                  <!--Тут добавленная фотка пользователем-->
                  {{ form.avatar(class="profile__foto") }}
                </div>
              </div>

              <div>
                <div><span class="profile__span">Ваш псевдоним:</span></div>
                {{ form.username(class="profile__input", value=current_user.username, placeholder="Введите ваше имя на сайте...") }}
              </div>

              <div>
                <div><span class="profile__span">Ваш город:</span></div>
                {% if current_user.city is none %}
                  {{ form.city(class="profile__input", placeholder="Введите город..") }}
                {% else %}
                  {{ form.city(class="profile__input", value=current_user.city, placeholder="Введите город..") }}
                {% endif %}
              </div>
    
              <div>
                <label class="profile__info">
                  <span class="profile__span">Пол:</span>
                  {{ form.gender(class="profile__select", id="select_gender") }}
                </label>
                {% if current_user.gender is not none %}
<script>
{
    // set option selected by default
    const selector = document.getElementById("select_gender");
    console.log(selector);
    for (const option of selector) {
        if (option.value == "{{ current_user.gender }}") {
            option.defaultSelected = true;
        }
    }
}
</script>
                {% endif %}
              </div>
    
              <div>
                <div><span class="profile__span">Ваш возраст:</span></div>
                {% if current_user.age is none %}
                 {{ form.age(class="profile__input", placeholder="Введите возраст..") }}
                {% else %}
                 {{ form.age(class="profile__input", value=current_user.age, placeholder="Введите возраст..") }}
                {% endif %}
              </div>

              <div>
                <div><span class="profile__span">Информация о вас:</span></div>
                {% if current_user.about_me is none %}
                 {{ form._about_me(class="profile__text", placeholder="Расскажите о себе..", rows="5") }}
                {% else %}
                 {{ form._about_me(class="profile__text", default=current_user.about_me, placeholder="Расскажите о себе..", rows="5") }}
                {% endif %}
              </div>
              <input type="submit" class="profile__edit-btn" value="Сохранить">
            </form>
    
            <a class="profile__exit" href="{{url_for('personal.person', username=current_user.username)}}">Отмена</a>
          </div>
        </div>
      </section>
    </main>
  </div>
  

  <footer class="footer">
    <div class="footer__container container">
      <a href="#" class="footer__wrap">© MBK | Community Magic Book Keeper</a>
    </div>
  </footer>
</body>

</html>
