<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Личный кабинет</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/normalize.css')}}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/style.css')}}" />
  <link rel="icon" href="{{url_for('static', filename='styles/img/Logo.svg')}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montaga&display=swap" rel="stylesheet">

</head>

<body>
  <div class="content">
    <header class="header style-1">
      <div class="header__container container">
        <a class="header__logo" href="{{url_for('main.index')}}">
          <img class="header__logo-image" src="{{url_for('static', filename='styles/img/logo.png')}}"
            alt="Логотип MAGIC BOOK KEEPER">
        </a>
      </div>
    </header>
  
    <main>
      <section class="main style-1">
        <div class="main__container container">
  
          <div class="main__top">
            <!-- <span class="main__span">Welcome!</span> -->
            <h1 class="main__title">Hello, {{ current_user.username }}!</h1>
            <!--Hello, имя пользователя!-->
  
            <svg width="461" height="1" viewBox="0 0 461 1" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line y1="0.5" x2="461" y2="0.5" stroke="#E9E6C3" />
            </svg>
  
          </div>
  
        </div>
      </section>
  
  
      <section class="profile">
        <div class="profile__container container">
          <div class="profile__wrap">
            <form class="profile__form" enctype="multipart/form-data" method="post">
              <!--Вопрос по поводу enctype(action?)-->
              {{form.hidden_tag()}}
              <span class="profile__span">Фото профиля</span>
              <div class="profile__image profile__image-edit">
                <!--Тут добавленная фотка пользователем-->
                <input class="profile__foto" type="file" name="avatar" multiple accept="image/*,image/jpeg">
              </div>
              {{form.username(class="profile__input", value=current_user.username, placeholder="Введите ваше имя на сайте..")}}
              {{form.city(class="profile__input", value=city, placeholder="Введите город..")}}
    
              <label class="profile__info">
                <span class="profile__span">Пол:</span>
                <select name="gender" id="" class="profile__select">
                  <option value="муж" {%if gender == "муж"%}selected{%endif%}>муж</option>
                  <option value="жен" {%if gender == "жен"%}selected{%endif%}>жен</option>
                </select>
              </label>
    
              {{form.age(class="profile__input", value=age, placeholder="Введите возраст..")}}
              <textarea class="profile__text" id="description" maxlength="40" name="description" placeholder="Расскажите о себе.." required="" rows="5">{{ about_me }}</textarea>
              {{form.submit(class="profile__edit-btn")}}
            </form>
    
    
            <a class="profile__exit" href="{{url_for('personal.person', username=current_user.username)}}">Отмена</a>
          </div>
          
  
        </div>
  
      </section>
    </main>
  </div>
  

  <footer class="footer">
    <div class="footer__container container">
      <a href="#" class="footer__wrap">© CLUB | Community Head Hunters</a>
    </div>
  </footer>

</body>

</html>