<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Личный кабинет</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/normalize.css')}}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/style.css')}}" />
  <link rel="icon" href="{{url_for('static', filename='styles/img/Logo.svg')}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montaga&display=swap" rel="stylesheet">
</head>

<body class="image-2">
  <header class="header style-1">
    <div class="header__container container">
      <a class="header__logo" href="{{url_for('main.index')}}">
        <img class="header__logo-image" src="{{url_for('static', filename='styles/img/logo.png')}}" alt="Логотип MAGIC BOOK KEEPER">
      </a>

      <nav class="nav header__nav">
        <ul class="nav__list list-reset">
          <li class="nav__item"><a class="nav__link" href="#">Меню
              <svg class="nav__fa" width="62" height="37" viewBox="0 0 62 37" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <line x1="8" y1="4.5" x2="53" y2="4.5" stroke="#E9E6C3" />
                <line x1="8" y1="31.5" x2="53" y2="31.5" stroke="#E9E6C3" />
                <line x1="8" y1="18.5" x2="53" y2="18.5" stroke="#E9E6C3" />
              </svg>

            </a>
            <ul class="nav__sublist list-reset">
              <li class="nav__subitem"><a class="nav__link" href="{{url_for('main.index')}}">Главная</a></li>
              <li class="nav__subitem"><a class="nav__link" href="{{url_for('personal.person', username=current_user.username)}}">Личный кабинет</a></li>
              <li class="nav__subitem"><a class="nav__link" href="{{url_for('main.searching')}}">Поиск книг</a></li>
              <!-- <li class="nav__subitem"><a class="nav__link" href="#">Рейтинг пользователей</a></li> -->
              <li class="nav__subitem"><a class="nav__link" href="{{url_for('auth.logout')}}">Выйти</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <section class="main style-1">
      <div class="main__container container">

        <div class="main__top">
          <!-- <span class="main__span">Welcome!</span> -->
          <h1 class="main__title">{{ current_user.username }}, выберите в какой список добавить выбранную книгу</h1>
          <!--Hello, имя пользователя!-->

          <svg width="461" height="1" viewBox="0 0 461 1" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line y1="0.5" x2="461" y2="0.5" stroke="#E9E6C3" />
          </svg>

        </div>

        <div class="main__bottom">
          <a class="main__bottom-item" href="{{url_for('personal.person', username=current_user.username)}}">Мой профиль</a>
        </div>
      </div>
    </section>

    <div class="background-book_page">
      <!--место для списков-->
      {% if not catalogues %}
      <section class="list__list">
        <div class="container lists__catalog">
          <div class="list__wrap">
            У вас пока нет созданных списков книг, пожалуйста, перейдите в свой профиль и сделайте это.
          </div>
        </div>
      </section>
      {% else %}
      {% for cataloge_value in catalogues %}
      <section class="list__list">
        <div class="container lists__catalog">
          <div class="list__wrap ">
            <a class="title list__name"
              href="{{url_for('personal.add_book_in_list', username=current_user.username, list_id=cataloge_value.id, book_id=book_id, read_state=read_state)}}">{{
              cataloge_value.name }}</a>
          </div>
        </div>
      </section>
      {% endfor %}
      {% endif %}
    </div>

  </main>

  <footer class="footer">
    <div class="footer__container container">
      <a href="#" class="footer__wrap">© CLUB | Community Head Hunters</a>
    </div>
  </footer>

</body>

</html>