{% import "lists_macro.html" as macros %}
<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Личный кабинет</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/normalize.css')}}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/style.css')}}" />
  <link rel="icon" href="{{url_for('static', filename='styles/img/Logo.svg')}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montaga&display=swap" rel="stylesheet">
  <link charset="utf-8" rel="stylesheet" href="{{url_for('static', filename='styles/css/smoke-pure.css')}}" />
  <script src="{{ url_for('static', filename='js/add_book_js.js')}}"></script>
</head>

<body class="image-3" onload="book_added();">
  <header class="header style-1">
    <div class="header__container container">
      <a class="header__logo" href="{{url_for('main.index')}}">
        <img class="header__logo-image" src="{{url_for('static', filename='styles/img/logo.png')}}" alt="Логотип MAGIC BOOK KEEPER">
      </a>

      <nav class="nav header__nav">
        <ul class="nav__list list-reset">
          <li class="nav__item"><a class="nav__link" href="#">Меню
              <svg class="nav__fa" width="62" height="37" viewBox="0 0 62 37" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <line x1="8" y1="4.5" x2="53" y2="4.5" stroke="#E9E6C3" />
                <line x1="8" y1="31.5" x2="53" y2="31.5" stroke="#E9E6C3" />
                <line x1="8" y1="18.5" x2="53" y2="18.5" stroke="#E9E6C3" />
              </svg>

            </a>
            <ul class="nav__sublist list-reset">
              <li class="nav__subitem"><a class="nav__link" href="{{url_for('main.index')}}">Главная</a></li>
              <li class="nav__subitem"><a class="nav__link" href="{{url_for('main.categories')}}">Категории книг</a></li>
              <!-- <li class="nav__subitem"><a class="nav__link" href="#">Рейтинг пользователей</a></li> -->
              <li class="nav__subitem"><a class="nav__link" href="{{url_for('auth.logout')}}">Выйти</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <section class="main style-1">
      <div class="main__container container">

        <div class="main__top">
          <!-- <span class="main__span">Welcome!</span> -->
          <h1 class="main__title">Hello, {{ current_user.username }}!</h1>
          <!--Hello, имя пользователя!-->

          <svg width="461" height="1" viewBox="0 0 461 1" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line y1="0.5" x2="461" y2="0.5" stroke="#E9E6C3" />
          </svg>

        </div>

        <div class="main__bottom">
          <a class="main__bottom-item" href="#1">Мой профиль</a>
          <!-- <a class="main__bottom-item" href="#">Моя статистика</a> -->
          <a class="main__bottom-item" href="#3">Мои списки книг</a>
        </div>
        <a class="main__btn btn" href="{{url_for('personal.add_new_book', username=current_user.username)}}">Добавить
          новую книгу</a>
      </div>
    </section>

    <div class="background-book_page">
      <section id="1" class="profile">
        <div class="profile__container container">
          <div class="profile__image">
            <img class="profile__image-set" src="{{url_for('personal.avatar', username=current_user.username)}}">
            <!--Тут добавленная фотка пользователем-->
          </div>
          <!-- <span class="profile__span">Фото профиля</span> -->
  
          <div class="profile__info">
            <span class="profile__span">Город: </span>
            <!--Тут информация введенная пользователем в редактировании профиля-->
            {% if user.city %}{{ user.city }}{% endif %}
          </div>
  
          <div class="profile__info">
            <span class="profile__span">Пол: </span>
            <!--Тут информация введенная пользователем в редактировании профиля-->
            {% if user.gender %}{{ user.gender }}{% endif %}
          </div>
  
          <div class="profile__info">
            <span class="profile__span">Возраст: </span>
            <!--Тут информация введенная пользователем в редактировании профиля-->
            {% if user.age %}{{ user.age }}{% endif %}
          </div>
  
          <div class="profile__info textarea">
            <span class="profile__span">О себе: </span>
            <!--Тут информация введенная пользователем в редактировании профиля-->
            {% if user.about_me %}{{ user.about_me }}{% endif %}
          </div>
  
          <!--<button class="profile__edit-btn" formaction="{{url_for('personal.edit', username=current_user.username)}}">Редактировать профиль</button>-->
          {% if user == current_user %}
          <a class="profile__edit-btn" href="{{url_for('personal.edit', username=current_user.username)}}">Редактировать
            профиль</a>
          {% endif %}
          <svg width="461" height="1" viewBox="0 0 461 1" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line y1="0.5" x2="461" y2="0.5" stroke="black" />
          </svg>
  
          <!--<a class="profile__exit" href="{{url_for('auth.logout')}}">Выйти</a>-->
          <!--Выход из аккаунта-->
        </div>
      </section>
  
      <!--Кнопка все время присутствует на странице пользователя-->

      {% if pagination %}
      {% if len(pagination.items) < 2 %} 
      <section class="list">
      <div id="3" class="container lists__create">
        <a class="lists__btn"
          href="{{url_for('personal.add_list', username=current_user.username, page=pagination.pages)}}">Создать список
          <svg width="78" height="78" viewBox="0 0 78 78" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_139_2)">
              <rect x="35" width="8" height="78" fill="#D9D9D9" />
              <rect x="78" y="35" width="8" height="78" transform="rotate(90 78 35)" fill="#D9D9D9" />
            </g>
            <defs>
              <clipPath id="clip0_139_2">
                <rect width="78" height="78" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </a>
        </div>
        {% else %}
        <div id="3" class="container lists__create">
          <a class="lists__btn"
            href="{{url_for('personal.add_list', username=current_user.username, page=pagination.pages + 1)}}">Создать
            список
            <svg width="78" height="78" viewBox="0 0 78 78" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_139_2)">
                <rect x="35" width="8" height="78" fill="#D9D9D9" />
                <rect x="78" y="35" width="8" height="78" transform="rotate(90 78 35)" fill="#D9D9D9" />
              </g>
              <defs>
                <clipPath id="clip0_139_2">
                  <rect width="78" height="78" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </a>
        </div>
        {% endif %}
        {% else %}
        <div id="3" class="container lists__create">
          <a class="lists__btn" href="{{url_for('personal.add_list', username=current_user.username, page=1)}}">Создать
            список
            <svg width="78" height="78" viewBox="0 0 78 78" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_139_2)">
                <rect x="35" width="8" height="78" fill="#D9D9D9" />
                <rect x="78" y="35" width="8" height="78" transform="rotate(90 78 35)" fill="#D9D9D9" />
              </g>
              <defs>
                <clipPath id="clip0_139_2">
                  <rect width="78" height="78" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </a>
        </div>
        </section>
        {% endif %}
  
        <!--место для списков-->
        {% for cataloge_value in catalogues %}
        <section class="list">
          <div class="container list__container">
            <div class="list__wrap">
              <h2 class="list__title title">{{ cataloge_value.name }}</h2>
              <!--Название списка, которое ввел пользователь-->
  
              <ul class="list__books list-reset">
                <!--Добавление книги в список - перебрасывает в рааздел категорий книг-->
                <li class="list__book list__add"><a href="{{url_for('main.categories')}}" class="list__link">
                    <svg width="78" height="78" viewBox="0 0 78 78" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g clip-path="url(#clip0_139_2)">
                        <rect x="35" width="8" height="78" fill="#D9D9D9" />
                        <rect x="78" y="35" width="8" height="78" transform="rotate(90 78 35)" fill="#D9D9D9" />
                      </g>
                      <defs>
                        <clipPath id="clip0_139_2">
                          <rect width="78" height="78" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                  </a>
                </li>
  
                <!--Добавленные книги-->
                {% for item in cataloge_value.items %}
                <li class="list__book">
                  <a href="{{url_for('main.book_page', name=item.book.name)}}" class="list__book-set">
                    <img class="list__book-set" src="{{url_for('main.cover', name=item.book.name)}}" alt="">
                  </a>
                  

                  <div class="list__book-wrap">
                    <a href="{{url_for('main.book_page', name=item.book.name)}}" class="list__link-book">Книга: {{ item.book.name
                    }}</a>
                  <a href="#" class="list__link">Состояние чтения: {{ item.read_state }}</a>
  
                  <!--<select class="list__select">
                  <option value="">Планирую</option>
                  <option value="">Читаю</option>
                  <option value="">Заброшено</option>
                  <option value="">Прочитано</option>
                </select>-->
                  <a class="list__book-delete-btn"
                    href="{{url_for('personal.item_delete', username=current_user.username, item_id=item.id, page=pagination.page)}}">Удалить
                    книгу из списка</a>
                  </div>
                  
                </li>
                {% endfor %}
              </ul>
  
              {% if pagination %}
              <div class="list__pagination pagination">
                {{ macros.pagination_widget(pagination, 'personal.person', fragment='#lists',
                username=current_user.username) }}
              </div>
              {% endif %}
  
              {% if pagination %}
              {% if len(pagination.items) < 2 %} <a class="list__delete-btn"
                href="{{url_for('personal.list_delete', username=current_user.username, list_id=cataloge_value.id, page=pagination.page - 1)}}">
                <svg width="461" height="1" viewBox="0 0 461 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <line y1="0.5" x2="461" y2="0.5" stroke="black" />
                </svg>
                Удалить список
                <svg width="461" height="1" viewBox="0 0 461 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <line y1="0.5" x2="461" y2="0.5" stroke="black" />
                </svg>
                </a>
                {% else %}
                <a class="list__delete-btn"
                  href="{{url_for('personal.list_delete', username=current_user.username, list_id=cataloge_value.id, page=pagination.page)}}">Удалить
                  список</a>
                {% endif %}
                {% else %}
                <a class="list__delete-btn"
                  href="{{url_for('personal.list_delete', username=current_user.username, list_id=cataloge_value.id, page=1)}}">Удалить
                  список</a>
                {% endif %}
  
  
            </div>
  
          </div>
        </section>
        {% endfor %}
    </div>
    

  </main>

  <footer class="footer">
    <div class="footer__container container">
      <a href="#" class="footer__wrap">© CLUB | Community Head Hunters</a>
    </div>
  </footer>

</body>

</html>