<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Личный кабинет</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/normalize.css')}}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/style.css')}}" />
  <link rel="icon" href="{{url_for('static', filename='styles/img/Logo.svg')}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montaga&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/main/pagination.js')}}"></script>
  <script defer src="{{ url_for('static', filename='js/burger.js')}}"></script>
</head>

<body>
  <header class="header style-1">
    <div class="header__container container">
      <a class="header__logo" href="{{url_for('main.index')}}">
        <img class="header__logo-image" src="{{url_for('static', filename='styles/img/logo.png')}}"
          alt="Логотип MAGIC BOOK KEEPER">
      </a>

      <div class="header__right">
        <span class="header__menu">Меню</span>
        <button class="header__burger hamburger hamburger__collapse js-burger" type="button">
          <span class="hamburger__box">
            <span class="hamburger__inner"></span>
          </span>
        </button>
      </div>

      <nav class="nav header__nav">
        <div class="nav__menu js-menu-wrap">
          <ul class="nav__list list-reset">
            <li class="nav__item"><a class="nav__link" href="{{url_for('main.index')}}">Главная</a></li>
            <li class="nav__item"><a class="nav__link" href="{{url_for('personal.person', username=current_user.username)}}">Личный кабинет</a></li>
            <li class="nav__item"><a class="nav__link" href="{{url_for('main.categories')}}">Категории книг</a></li>
            <li class="nav__item"><a class="nav__link" href="{{url_for('main.forum')}}">Форум</a></li>
          </ul>
        </div>

      </nav>

    </div>
  </header>

  <main>
    <section class="main style-1" id="cataloges_hat">
      <div class="main__container container">

        <div class="main__top">
          <!-- <span class="main__span">Welcome!</span> -->
          <h1 class="main__title">{{ current_user.username }}, выберите в какой список добавить выбранную книгу</h1>
          <!--Hello, имя пользователя!-->

          <svg width="461" height="1" viewBox="0 0 461 1" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line y1="0.5" x2="461" y2="0.5" stroke="#E9E6C3" />
          </svg>

        </div>

        <div class="main__bottom">
          <a class="main__bottom-item" href="{{url_for('personal.person', username=current_user.username)}}">Мой
            профиль</a>
        </div>
      </div>
    </section>


    <!--место для списков-->
    {% if not catalogues %}
    <section class="list__list">
      <div class="container lists__catalog">
        <div class="list__wrap">
          <a class="title list__name" href="{{url_for('personal.person', username=current_user.username)}}">У вас пока
            нет созданных списков книг, пожалуйста, перейдите в свой профиль и сделайте это.</a>
        </div>
      </div>
    </section>
    {% else %}
    {% for cataloge_value in catalogues %}
    <section class="list__list" id="{{cataloge_value.id}}cataloge_info">
      <div class="container lists__catalog">
        <!-- <div class="list__wrap "> -->
          <a class="title list__name"
            href="{{url_for('personal.add_book_in_list', username=current_user.username, list_id=cataloge_value.id, book_id=book_id, read_state=read_state)}}">{{
            cataloge_value.name }}</a>
        <!-- </div> -->
      </div>
    </section>
    {% endfor %}
    <div class="list__pagination pagination" id="comments_pagination_container">
      <ul class="pagination__list list-reset" id="pagination">
        <li class="pagination__item disabled">
          &bull;
        </li>
        {% for p in catalogues_pagination.iter_pages() %}
        <li class="pagination__item active">
          <a
            onclick="get_lists_page_to_add_book('/user/{{current_user.username}}/get_lists_page_to_add_book/{{p}}', '{{read_state}}', '{{book_id}}')">{{
            p }}</a>
        </li>
        {% endfor %}
        <li class="pagination__item disabled">
          &bull;
        </li>
      </ul>
    </div>
    {% endif %}


  </main>

  <footer class="footer">
    <div class="footer__container container">
      <a href="#" class="footer__wrap">© CLUB | Community Head Hunters</a>
    </div>
  </footer>

</body>

</html>