<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Личный кабинет</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/normalize.css')}}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/style.css')}}" />
  <link rel="icon" href="{{url_for('static', filename='styles/img/Logo.svg')}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montaga&display=swap" rel="stylesheet">
  <link charset="utf-8" rel="stylesheet" href="{{url_for('static', filename='styles/css/smoke-pure.css')}}" />
  <script src="{{url_for('static', filename='js/jquery.min.js.js')}}"></script>
  <script src="{{ url_for('static', filename='js/personal/user_page/pagination.js')}}"></script>
  <script src="{{ url_for('static', filename='js/personal/user_page/add_book_js.js')}}"></script>
  <script src="{{ url_for('static', filename='js/personal/user_page/add_list_on_user_page.js')}}"></script>
  <script src="{{ url_for('static', filename='js/page_scroll.js')}}"></script>
  <script defer src="{{ url_for('static', filename='js/choices.min.js')}}"></script>
  <!--<script defer src="{{ url_for('static', filename='js/select.js')}}"></script>-->
  <script defer src="{{ url_for('static', filename='js/book.js')}}"></script>
  <script src="{{ url_for('static', filename='js/personal/change_read_state/change_read_state.js')}}"></script>
  {% if current_user.role == Role.ADMIN %}
    <script src="{{ url_for('static', filename='js/personal/user_page/add_many_books.js')}}"></script>
  {% endif %}
  <script defer src="{{ url_for('static', filename='js/burger.js')}}"></script>
</head>

<body onload="book_added();">
  <div class="content">
    <header class="header style-1">
          <div class="header__container container">
            <a class="header__logo" href="{{url_for('main.index')}}">
              <img class="header__logo-image" src="{{url_for('static', filename='styles/img/logo.png')}}"
                alt="Логотип MAGIC BOOK KEEPER">
            </a>
      
            <div class="header__right">
              <span class="header__menu">Меню</span>
              {% if invitations > 0 %} 
                <span class="header__count">{{ invitations }}</span>
              {% endif %}
              <button class="header__burger hamburger hamburger__collapse js-burger" type="button">
                <span class="hamburger__box">
                  <span class="hamburger__inner"></span>
                </span>
              </button>
              
            </div>
          </div>
          <nav class="nav header__nav">
            <div class="nav__menu js-menu-wrap">
              <ul class="nav__list list-reset">
                <li class="nav__item"><a class="nav__link" href="{{url_for('main.index')}}">Главная</a></li>
                <li class="nav__item"><a class="nav__link" href="{{url_for('main.categories')}}">Категории книг</a></li>
                <li class="nav__item"><a class="nav__link" href="{{url_for('main.forum')}}">Форум</a></li>
                {% if current_user.role == Role.ADMIN %}
                  <li class="nav__item"><a class="nav__link" href="{{url_for('main.books_relevance')}}">Ведение книг</a></li>
                  <li class="nav__item"><a class="nav__link" href="{{url_for('admin.admin_panel', username=current_user.username)}}">Административная панель</a></li>
                {% endif %}
                <li class="nav__item --count"><a class="nav__link" href="{{url_for('main.private_chats')}}">Приватные чаты</a>
                  {% if invitations > 0 %} 
                    <span class="nav__count">{{ invitations }}</span>  <!--Уведомления-->
                  {% endif %}
                </li>
                <li class="nav__item"><a class="nav__link" href="{{url_for('auth.logout')}}">Выйти</a></li>
              </ul>
            </div>
          </nav>

        {% if current_user.role == Role.ADMIN %}
          <section class="popup" id="add_many_books_sec" style="display: none;">
            <div class="popup__formPopup">
                <h2 class="popup__title title">Добавление информации о книгах</h2>
                <form id="add_many_books_form" class="popup__formContainer" enctype="multipart/form-data" method="post">
                    <div class="popup__profile profile__image profile__image-edit">
                        <input id="sel_file" class="popup__profile-foto profile__foto" type="file" name="data_file"
                            multiple accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                            required>
                    </div>
                    <div class="popup__btns">
                        <input id="many_books_info" class="popup__btn" type="button"
                            value="Добавить информацию о книгах">
                        <button id="close_form" type="button" class="popup__btn-end">Отменить</button>
                    </div>

                </form>
            </div>
          </section>
        {% endif %}
    </header>
  
    <main>
      <section class="main style-1">
        <div class="main__container container">
  
          <div class="main__top">
            <!-- <span class="main__span">Welcome!</span> -->
            <h1 class="main__title">Hello, {{ current_user.username }}!</h1>
            <!--Hello, имя пользователя!-->
  
            <svg width="461" height="1" viewBox="0 0 461 1" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line y1="0.5" x2="461" y2="0.5" stroke="#cec8bd" />
            </svg>
  
          </div>
  
          <div class="main__bottom">
            <a class="main__bottom-item" href="#1">Мой профиль</a>
            <a class="main__bottom-item" href="#3">Мои списки книг</a>
            <a class="main__bottom-item" href="{{url_for('auth.change_password_try')}}">Сменить пароль</a>
          </div>
          <a class="main__form-btn btn" href="{{url_for('personal.add_new_book', username=current_user.username)}}">Добавить новую книгу</a>
          {% if current_user.role == Role.ADMIN %}
            <a id="add_info" class="main__form-btn btn">Добавить множество книг</a>
          {% endif %}
        </div>
      </section>
  
  
      <section id="1" class="profile" id="user_page_main_container">
        <div class="profile__container container">
          <div class="profile__wrap">
            <div class="profile__image">
              <img class="profile__image-set" src="{{url_for('personal.avatar', username=current_user.username)}}">
              <!--Тут добавленная фотка пользователем-->
            </div>
            <!-- <span class="profile__span">Фото профиля</span> -->
  
            <div class="profile__info">
              <span class="profile__span">Город: </span>
              <!--Тут информация введенная пользователем в редактировании профиля-->
              {% if user.city %}{{ user.city }}{% endif %}
            </div>
  
            <div class="profile__info">
              <span class="profile__span">Пол: </span>
              <!--Тут информация введенная пользователем в редактировании профиля-->
              {% if user.gender %}{{ user.gender }}{% endif %}
            </div>
  
            <div class="profile__info">
              <span class="profile__span">Возраст: </span>
              <!--Тут информация введенная пользователем в редактировании профиля-->
              {% if user.age %}{{ user.age }}{% endif %}
            </div>
          
            <div class="profile__info textarea">
              <div class="profile__wrapper">
                <span class="profile__span">О себе: </span>
                <!--Тут информация введенная пользователем в редактировании профиля-->
                <p class="profile__text-about">{% if user.about_me %}{{ user.about_me }}{% endif %}</p>
              </div>
            </div>
  
            <!--<button class="profile__edit-btn" formaction="{{url_for('personal.edit', username=current_user.username)}}">Редактировать профиль</button>-->
            {% if user == current_user %}
            <a class="profile__edit-btn" href="{{url_for('personal.edit', username=current_user.username)}}">Редактировать
              профиль</a>
            {% endif %}
          </div>
  
        </div>
      </section>
  
  
      <!-- Добавление списка -->
      {% if pagination %}
        <section class="popup" id="popupForm">
          <div class="popup__formPopup">
            <form class="popup__formContainer"
              action="{{url_for('personal.add_list', username=current_user.username, page=pagination.page)}}"
              id="add_list_form" method="post">
    
              <textarea type="text" class="popup__textarea" id="add_list_field" rows="2" name="newList"
                placeholder="Введите название списка..."></textarea>
    
              <div class="popup__btns">
                <input class="popup__btn" id="add_list" type="button" value="Добавить">
                <button type="button" id="close_popup_form" class="popup__btn-end">Отменить</button>
              </div>
            </form>
          </div>
        </section>
      {% else %}
        <section class="popup" id="popupForm" >
          <div class="popup__formPopup">
            <form class="popup__formContainer"
              action="{{url_for('personal.add_list', username=current_user.username, page=1)}}" id="add_list_form"
              method="post">
              <label class="popup__label">
                <span class="popup__span">Ваш список</span>
                <textarea type="text" class="popup__textarea" id="add_list_field" rows="5" name="newList"
                  placeholder="введите название списка..."></textarea>
              </label>
    
              <div class="popup__btns">
                <input class="popup__btn" id="add_list" type="button" value="Добавить">
                <button type="button" id="close_popup_form" class="popup__btn-end">Отменить</button>
              </div>
            </form>
          </div>
        </section>
      {% endif %}
  
      <!--Кнопка все время присутствует на странице пользователя-->
      <section class="list" id="add_list_button">
        <div id="3" class="container lists__create">
          <button id="open_popup_form" class="lists__btn">Создать список
            <svg class="list__svg" width="78" height="78" viewBox="0 0 78 78" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_139_2)">
                <rect x="35" width="8" height="78" fill="#989185" />
                <rect x="78" y="35" width="8" height="78" transform="rotate(90 78 35)" fill="#989185" />
              </g>
              <defs>
                <clipPath id="clip0_139_2">
                  <rect width="78" height="78" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </button>
        </div>
      </section>
  
      <!--место для списков-->
      <div id="lists_container">
        {% for cataloge_value, pagination_for_book_in_list, cur_books_page_for_cataloge in zip(catalogues, paginations_for_books_in_lists, cur_books_page_for_cataloges) %}
          <section class="list" id="{{cataloge_value.id}}cataloge_info">
            <div class="container list__container">
              <div class="list__wrap">
                <h2 class="list__title title">{{ cataloge_value.name }}</h2>
                <!--Название списка, которое ввел пользователь-->
  
                <ul class="list__books list-reset" id="{{cataloge_value.id}}books_info_container">
                  <!--Добавление книги в список - перебрасывает в рааздел категорий книг-->
                  <li class="list__add"><a href="{{url_for('main.categories', list_id=cataloge_value.id)}}" class="list__link">
                      <div class="list__block-add">
                        <svg class="list__svg2" width="78" height="78" viewBox="0 0 78 78" fill="none"
                          xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_139_2)">
                            <rect x="35" width="8" height="78" fill="#cec8bd" />
                            <rect x="78" y="35" width="8" height="78" transform="rotate(90 78 35)" fill="#cec8bd" />
                          </g>
                          <defs>
                            <clipPath id="clip0_139_2">
                              <rect width="78" height="78" fill="white" />
                            </clipPath>
                          </defs>
                        </svg>
                      </div>
                    </a>
                  </li>
  
                  <!--Добавленные книги-->
                  {% for item in pagination_for_book_in_list.items %}
                    <li class="list__book" id="{{cataloge_value.id}}book_info">
                      <a href="{{url_for('main.book_page', book_id=item.book.id)}}" class="list__book-set">
                        <img class="list__book-set" src="{{url_for('main.cover', book_id=item.book.id)}}" alt="">
                      </a>
  
                      <div class="list__book-wrap">
                        <a href="{{url_for('main.book_page', book_id=item.book.id)}}" class="list__link-book"><u>Книга:</u> {% if len(item.book.name) > 10 %} {{item.book.name[:10] + "..."}} {% else %} {{item.book.name}} {% endif %}</a>
                        <select name="read_state" class="book__select js-custom-select" id="{{cataloge_value.id}}{{item.id}}state" data-itemid="{{item.id}}">
                          <option class="book__state book__plan" value="Планирую" {%if item.read_state == "Планирую"%}selected{%endif%}>Планирую</option>
                          <option class="book__state book__read" value="Читаю" {%if item.read_state == "Читаю"%}selected{%endif%}>Читаю</option>
                          <option class="book__state book__fuck" value="Заброшено" {%if item.read_state == "Заброшено"%}selected{%endif%}>Заброшено</option>
                          <option class="book__state book__done" value="Прочитано" {%if item.read_state == "Прочитано"%}selected{%endif%}>Прочитано</option>
                        </select>
                        <a class="list__book-delete-btn" data-url="/user/{{current_user.username}}/delete-item/{{cataloge_value.id}}/{{item.id}}/{{cur_books_page_for_cataloge}}" id="{{cataloge_value.id}}del_book">Удалить книгу из списка</a>
                      </div>
                    </li>
                  {% endfor %}
                </ul>
                {% if pagination_for_book_in_list %}
                <div class="list__pagination pagination" id="{{cataloge_value.id}}books_pagination_container">
                  <ul class="pagination__list list-reset" id="{{cataloge_value.id}}books_pagination">
                    <li class="pagination__item disabled">
                      &bull;
                    </li>
                    {% for p in pagination_for_book_in_list.iter_pages() %}
                      {% if p %}
                        <li class="pagination__item active">
                          <a data-url="/user/{{current_user.username}}/get_books_page/{{cataloge_value.id}}/{{p}}" id="{{cataloge_value.id}}books_page">{{p}}</a>
                        </li>
                      {% else %}
                        <li class="pagination__item disabled"><a href="#">&hellip;</a></li>
                      {% endif %}
                    {% endfor %}
                    <li class="pagination__item disabled">
                      &bull;
                    </li>
                  </ul>
                </div>
                {% endif %}
  
                {% if pagination %}
                  <div class="list__end">
                    <a class="list__delete-btn" data-url="/user/{{current_user.username}}/delete-list/{{cataloge_value.id}}/{{cataloges_page}}" id="{{cataloge_value.id}}del_list">Удалить список</a>
                  </div>
                {% endif %}
              </div>
            </div>
          </section>
        {% endfor %}
      </div>
  
      {% if pagination %}
      <div class="list__pagination pagination" id="pagination_container">
        <ul class="pagination__list list-reset" id="pagination">
          <li class="pagination__item disabled">
            &bull;
          </li>
          {% for p in pagination.iter_pages() %}
            {% if p %}
              <li class="pagination__item active">
                <a data-url="/user/{{current_user.username}}/get_lists_page/{{p}}">{{ p }}</a>
              </li>
            {% else %}
              <li class="pagination__item disabled"><a href="#">&hellip;</a></li>
            {% endif %}
          {% endfor %}
          <li class="pagination__item disabled">
            &bull;
          </li>
        </ul>
      </div>
      {% endif %}
    </main>
  </div>
  

  <footer class="footer">
    <div class="footer__container container">
      <a href="#" class="footer__wrap">© MBK | Community Magic Book Keeper</a>
    </div>
  </footer>
</body>
</html>