<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Соответствующая категория</title> <!-- Название категории-->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" href="img/favicon.svg">
</head>

<body>
  <header class="header">
    <div class="header__container container">
      <a class="header__logo" href="index.html">
        <img src="img/Logo.svg" alt="Логотип MAGIC BOOK KEEPER">
      </a>

      <nav class="nav header__nav">
        <ul class="nav__list list-reset">
          <li class="nav__item"><a class="nav__link" href="#">Меню
              <svg class="nav__fa" width="62" height="37" viewBox="0 0 62 37" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <line x1="8" y1="4.5" x2="53" y2="4.5" stroke="black" />
                <line x1="8" y1="31.5" x2="53" y2="31.5" stroke="black" />
                <line x1="8" y1="18.5" x2="53" y2="18.5" stroke="black" />
              </svg>

            </a>
            <ul class="nav__sublist list-reset">
              <li class="nav__subitem"><a class="nav__link" href="index.html">Главная</a></li>
              <li class="nav__subitem"><a class="nav__link" href="registraton.html">Регистрация</a></li>
              <li class="nav__subitem"><a class="nav__link" href="authorization.html">Личный кабинет</a></li>
              <li class="nav__subitem"><a class="nav__link" href="search.html">Поиск книг</a></li>
              <li class="nav__subitem"><a class="nav__link" href="categories.html">Категории</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <section class="main">
      <div class="main__container container">

        <div class="main__top">
          <span class="main__span">Название категории</span>
          <h1 class="main__title">Поиск книги</h1>

          <svg width="461" height="1" viewBox="0 0 461 1" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line y1="0.5" x2="461" y2="0.5" stroke="black" />
          </svg>

        </div>

        <div class="main__bottom">
          <form class="main__form" action="" method="post">

            <label class="main__form-label">
              <svg class="main__form-icon" width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_6_94)">
                  <path
                    d="M25.5 24.5556L18.1443 17.4723M18.1443 17.4723C19.9088 15.7732 21 13.426 21 10.8333C21 5.64801 16.6349 1.44446 11.25 1.44446C5.86523 1.44446 1.5 5.64801 1.5 10.8333C1.5 16.0188 5.86523 20.2222 11.25 20.2222C13.9424 20.2222 16.3798 19.1714 18.1443 17.4723Z"
                    stroke="#768298" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" />
                </g>
                <defs>
                  <clipPath id="clip0_6_94">
                    <rect width="27" height="26" fill="white" />
                  </clipPath>
                </defs>
              </svg>

              <input type="text" class="main__form-input" placeholder="Введите название книги или автора..">
            </label>

            <div class="main__form-wrap">
              <select name="" id="" class="main__form-select">
                <option >Автор</option>
                <option>Пункт 1</option>
                <option>Пункт 2</option>
              </select>

              <select name="" id="" class="main__form-select">
                <option >Год издания</option>
                <option>Пункт 1</option>
                <option>Пункт 2</option>
              </select>


            </div>

            <button class="main__form-btn btn">Найти</button>

          </form>
        </div>

      </div>
    </section>


    <!--Информация о книгах сразу при переходе пользователя на эту страницу-->
    <section class="list">
      <div class="container list__container">
        <div class="list__wrap">
          <h2 class="list__title title">Вот, что есть в данной категории</h2>
          <!-- <span class="list__results"> Всего результатов: {{ len(search_result) }} </span> -->
          <ul class="list__books list-reset">


            <li class="list__book">
              <a href="" class="list__book-set">
                <img class="list__book-set" src="" alt="">
              </a>


              <div class="list__book-wrap">
                <a href="" class="list__link">Книга: </a>
                <a href="#" class="list__link">Автор: </a>
              </div>
            </li>



          </ul>
        </div>
        <div class="list__pagination pagination">
          <!-- {{ macros.pagination_widget(page_count=page_count, range=range) }} -->
        </div>
      </div>
    </section>


    <!--Найденные книги при доп.поиске книг-->

  </main>

  <footer class="footer">
    <div class="footer__container container">
      <a href="#" class="footer__wrap">© CLUB | Community Head Hunters</a>
    </div>
  </footer>
</body>

</html>
