<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }}</title> <!-- Название категории-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/css/normalize.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='styles/css/style.css')}}" />
    <link rel="icon" href="{{url_for('static', filename='styles/img/Logo.svg')}}">
    <script src="{{url_for('static', filename='js/jquery.min.js.js')}}"></script>
    <script src="{{ url_for('static', filename='js/page_scroll.js')}}"></script>
    <script src="{{ url_for('static', filename='js/main/category_page/search_on_category_page.js')}}"></script>
    <script defer src="{{ url_for('static', filename='js/burger.js')}}"></script>
    <script defer src="{{url_for('static', filename='js/swiper.min.js')}}"></script>
    <script defer src="{{url_for('static', filename='js/swiper.js')}}"></script>
  </head>
<body>
  <div class="content">
    <header class="header">
      <div class="header__container container">
        <a class="header__logo" href="{{url_for('main.index')}}">
          <img class="header__logo-image" src="{{url_for('static', filename='styles/img/logo.png')}}"
            alt="Логотип MAGIC BOOK KEEPER">
        </a>

        <div class="header__right">
          <span class="header__menu">Меню</span>
          <button class="header__burger hamburger hamburger__collapse js-burger" type="button">
            <span class="hamburger__box">
              <span class="hamburger__inner"></span>
            </span>
          </button>
        </div>

        <nav class="nav header__nav">
          <div class="nav__menu js-menu-wrap">
            <ul class="nav__list list-reset">
              <li class="nav__item"><a class="nav__link" href="{{url_for('main.index')}}">Главная</a></li>
              <li class="nav__item"><a class="nav__link" href="{{url_for('main.forum')}}">Форум</a></li>
              {% if current_user.is_anonymous %}
              <li class="nav__item"><a class="nav__link" href="{{url_for('auth.register')}}">Регистрация</a></li>
              {% endif %}
              {% if current_user.is_authenticated %}
              <li class="nav__item"><a class="nav__link"
                  href="{{url_for('personal.person', username=current_user.username)}}">Личный кабинет</a></li>
              {% else %}
              <li class="nav__item"><a class="nav__link" href="{{url_for('auth.login')}}">Личный кабинет</a></li>
              {% endif %}
              <li class="nav__item"><a class="nav__link" href="{{url_for('main.categories')}}">Категории</a></li>
              {% if current_user.role == Role.ADMIN %}
                <li class="nav__item"><a class="nav__link" href="{{url_for('main.books_relevance')}}">Ведение книг</a></li>
                <li class="nav__item"><a class="nav__link" href="{{url_for('admin.admin_panel', username=current_user.username)}}">Административная панель</a></li>
              {% endif %}
              {% if current_user.is_authenticated %}
                <li class="nav__item"><a class="nav__link" href="{{url_for('auth.logout')}}">Выйти</a></li>
              {% endif %}
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <main>
      <section id="first_section" class="main">
        <div class="main__container container">

          <div class="main__top">
            <h1 id="cat_title" data-name="{{ name }}" data-listid="{{ list_id }}" class="main__title">Поиск в категории {{ name }}</h1>
            <svg class="main__svg" width="461" height="1" viewBox="0 0 461 1" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <line y1="0.5" x2="461" y2="0.5" stroke="#F5F5DC" />
            </svg>

          </div>

          <div class="main__bottom">
            <form id="search_form" class="main__form" method="post">
              <label class="main__form-label">
                <svg class="main__form-icon" width="27" height="26" viewBox="0 0 27 26" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_6_94)">
                    <path d="M25.5 24.5556L18.1443 17.4723M18.1443 17.4723C19.9088 15.7732 21 13.426 21 10.8333C21 5.64801 16.6349 1.44446 11.25 1.44446C5.86523 1.44446 1.5 5.64801 1.5 10.8333C1.5 16.0188 5.86523 20.2222 11.25 20.2222C13.9424 20.2222 16.3798 19.1714 18.1443 17.4723Z"
                      stroke="#332f2e" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" />
                  </g>
                  <defs>
                    <clipPath id="clip0_6_94">
                      <rect width="27" height="26" fill="white" />
                    </clipPath>
                  </defs>
                </svg>
                <input id="books_find_field" type="text" class="main__form-input" name="search_result" maxlength="120" placeholder="Введите название книги или автора..">
              </label>
              <div>
                <input class="profile__text" id="books_data_field" name="release_date" type="date">
              </div>
              <div>
                <textarea class="profile__text" id="description_field" maxlength="200" name="description" placeholder="Введите описание или его часть.." rows="2"></textarea>
              </div>
              <div>
                <span class="main__help">Для просмотра всех книг из данной категории введите слово все</span>
              </div>
              <button class="main__form-btn btn" id="find_books_button">Найти</button>
            </form>
          </div>
        </div>
      </section>

      <section class="list">
        <div class="container list-best__container">
          <div class="list__wrapBest">
            <h2 class="list__title title">ЛУЧШЕЕ</h2>
            <div class="hero__block">
              <div class="hero__slider js-hero-slider">
                <div class="swiper-wrapper">
                  {% for book in top_books %}
                    <div class="swiper-slide hero__slide hero__slide--one">
                      <li class="list__book-best">
                        <a href="{{url_for('main.book_page', name=book[0].name)}}" class="list__book-set">
                          <img class="list__book-set" src="{{url_for('main.cover', name=book[0].name)}}" alt="">
                        </a>
                        <div class="list__book-wrap">
                          {% if current_user.is_authenticated %}
                          <a href="{{url_for('personal.add_book_in_list_tmp', username=current_user.username, book_id=book[0].id, list_id=list_id)}}"
                            class="list__book-delete-btn">Добавить в список</a>
                          {% endif %}
                          <a href="{{url_for('main.book_page', name=book[0].name)}}" class="list__link">Книга:
                            {{book[0].name.title()}}</a>
                          <span class="list__link">Автор: {{book[0].author.title()}}</span>
                          <div class="list__mark-star">
                            <span class="list__mark-visible">Оценка {{book[1]}}</span>
                            <img src="{{url_for('static', filename='styles/img/star1.svg')}}" alt="" class="list__star">
                          </div>
                        </div>
                      </li>
                    </div>
                  {% endfor %}
                </div>
                <div class="hero__pagination swiper-pagination js-hero-pagination"></div>
              </div>
            </div>
          </div>
        </div>
        <!--pagination - по 3 элемента на одном слайдере -->
      </section>

      <section class="list">
        <div class="container list-best__container">
          <div class="list__wrapBest">
            <h2 class="list__title title">НОВИНКИ</h2>
            <div class="hero__block">
              <div class="hero__slider js-hero-slider">
                <div class="swiper-wrapper">
                  {% for book in new_books %}
                    <div class="swiper-slide hero__slide hero__slide--one">
                      <li class="list__book-best">
                        <a href="{{url_for('main.book_page', name=book[0].name)}}" class="list__book-set">
                          <img class="list__book-set" src="{{url_for('main.cover', name=book[0].name)}}" alt="">
                        </a>
                        <div class="list__book-wrap">
                          {% if current_user.is_authenticated %}
                          <a href="{{url_for('personal.add_book_in_list_tmp', username=current_user.username, book_id=book[0].id, list_id=list_id)}}"
                            class="list__book-delete-btn">Добавить в список</a>
                          {% endif %}
                          <a href="{{url_for('main.book_page', name=book[0].name)}}" class="list__link">Книга:
                            {{book[0].name.title()}}</a>
                          <span class="list__link">Автор: {{book[0].author.title()}}</span>
                          <div class="list__mark-star">
                            <span class="list__mark-visible">Оценка {{book[1]}}</span>
                            <img src="{{url_for('static', filename='styles/img/star1.svg')}}" alt="" class="list__star">
                          </div>
                        </div>
                      </li>
                    </div>
                  {% endfor %}
                </div>
                <div class="hero__pagination swiper-pagination js-hero-pagination"></div>
              </div>
            </div>
          </div>
        </div>
        <!--pagination - по 3 элемента на одном слайдере -->
      </section>
    </main>
  </div>
    <footer class="footer">
      <div class="footer__container container">
        <a href="#" class="footer__wrap">© CLUB | Community Head Hunters</a>
      </div>
    </footer>
  </body>
</html>