<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Обсуждение темы</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/normalize.css')}}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/style.css')}}" />
  <link rel="icon" href="{{url_for('static', filename='styles/img/Logo.svg')}}">
  <script src="{{url_for('static', filename='js/jquery.min.js.js')}}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/main/forum_discussion/pagination.js')}}"></script>
  <script src="{{ url_for('static', filename='js/main/forum_discussion/posts_manipulations.js')}}"></script>
  <script src="{{ url_for('static', filename='js/main/forum_discussion/edit_post.js')}}"></script>
  <script defer src="{{ url_for('static', filename='js/burger.js')}}"></script>
</head>

<body>
  <header class="header">
    <div class="header__container container">
      <a class="header__logo" href="{{url_for('main.index')}}">
        <img class="header__logo-image" src="{{url_for('static', filename='styles/img/logo.png')}}"
          alt="Логотип MAGIC BOOK KEEPER">
      </a>

      <div class="header__right">
        <span class="header__menu">Меню</span>
        <button class="header__burger hamburger hamburger__collapse js-burger" type="button">
          <span class="hamburger__box">
            <span class="hamburger__inner"></span>
          </span>
        </button>
      </div>

      <nav class="nav header__nav">
        <div class="nav__menu js-menu-wrap">
          <ul class="nav__list list-reset">
            <li class="nav__item"><a class="nav__link" href="{{url_for('main.index')}}">Главная</a></li>
            <li class="nav__item"><a class="nav__link" href="{{url_for('main.categories')}}">Категории книг</a>
            </li>
            {% if current_user.is_authenticated %}
            <li class="nav__item"><a class="nav__link"
                href="{{url_for('personal.person', username=current_user.username)}}">Личный кабинет</a></li>
            {% else %}
            <li class="nav__item"><a class="nav__link" href="{{url_for('auth.login')}}">Личный кабинет</a></li>
            {% endif %}
            <li class="nav__item"><a class="nav__link" href="{{url_for('main.forum')}}">Форум</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <main>
    <section class="main">
      <div class="main__container container" id="main_container">

        <div class="main__top">
          <h1 class="main__title">{{ topic_name }}</h1>

          <svg width="461" height="1" viewBox="0 0 461 1" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line y1="0.5" x2="461" y2="0.5" stroke="#fdfde9" />
          </svg>

        </div>


        <div class="main__bottom forum-main-bottom">
          <a class="main__bottom-item" href="{{url_for('main.forum')}}">Главная страница форума</a>
          {% if current_user.is_authenticated %}
            <a id="write_msg" data-username="{{current_user.username}};{{user_is_admin}};{{topic_id}}" class="main__bottom-item" href="#1">Написать сообщение</a>
          {% endif %}
        </div>

        <span class="main__span-forum" id="posts_count">Сообщений: {{posts_count}}</span>
        <!--Количество сообщений в этой теме-->

      </div>
    </section>

    <section class="popup" id="edit_post_sec" style="display: {{ display }}">
      <div class="popup__formPopup">
        <h2 class="popup__title title">Редактирование поста</h2>
        <form class="popup__formContainer" action="" id="edit_post_form" method="post">
          <textarea type="text" class="popup__textarea" id="edit_post_field" rows="5" name="newComment"
            placeholder="напишите новый пост..."></textarea>

          <div class="popup__btns">
            <input class="popup__btn" id="edit_post" type="button" value="Изменить" onclick="edit_post_ajax()">
            <button id="close_edit_post_form" type="button" class="popup__btn-end">Отменить</button>
          </div>
        </form>
      </div>
    </section>

    <section class="discussion">
      <div class="discussion__container container">
        <div class="discussion__wrap" id="disc_posts_container">
          {% for post in posts %}
            <div class="discussion__message message" id="{{post.id}}discussion_post"> <!--Сообщение-->
              <div class="message__left">
                <div class="message__name">
                  {% if (post['username'] == current_user.username) and current_user.is_authenticated %}
                  <a href="{{url_for('personal.person', username=current_user.username)}}" class="message__link">
                    {% else %}
                    <a class="message__link">
                      {% endif %}
                      <div class="message__set">
                        <img src="{{url_for('personal.avatar', username=post["username"])}}" alt="" class="message__img">
                        <!--Фото админа из его личного кабинета-->
                      </div>
                      {{post['username']}}
                    </a>
                </div>

                <div class="message__name-info">
                  <p class="message__info">
                    <span class="message__span">
                      {{post["age"]}}
                    </span>
                    <span class="message__span">
                      {{post["gender"]}}
                    </span>
                    <span class="message__span">
                      {{post["city"]}}
                    </span>
                    <span class="message__span">
                      {{post["about_me"]}}
                    </span>
                  </p>
                  <span class="message__span">На сайте с {{ str(post["user_timestamp"].date().day) + " " +
                    months_dict[post["user_timestamp"].date().month] +
                    " " + str(post["user_timestamp"].date().year) }}</span>
                </div>
              </div>

              <div class="message__right" id="{{post["id"]}}msg_write_id">
                {% if post["this_is_answer"] %}
                <div class="message__answer" id="{{post["id"]}}base_to_answer">
                  <span class="message__span-answer">Сообщение от {{post["username_of_post_from"]}}</span>
                  <p class="message__text-answer">{{post["body_of_post_from"]}}</p>
                </div>
                {% endif %}
                <p class="message__text" id="{{post["id"]}}post_body">
                  {{post["body"]}} <!--Сообщение пользователя-->
                </p>
                {% if post["file"] %}
                <img style="width: 80px; height: 80px" onclick="this.style.width='300px'; this.style.height='300px'"
                  onmouseout="this.style.width='80px'; this.style.height='80px'"
                  src="{{url_for('main.post_screenshot', post_id=post["id"])}}" />
                {% endif %}

                <!--This block for user (only for his messages)-->
                {% if (post["username"] == current_user.username) and current_user.is_authenticated %}
                <div class="message__admin" id="{{post["id"]}}personal_cont">
                  <a class="message__admin-btn" id="{{post["id"]}}answer_on" data-topicid="{{topic_id}}" data-postid="{{post["id"]}}">Ответить</a>
                  <a class="message__admin-btn" id="{{post["id"]}}edit_post_a" data-url="/{{current_user.username}}/edit_post/{{topic_id}}/{{post["id"]}}" data-body="{{post["body"]}}">Редактировать</a>
                  <a id="{{post.id}}post_d" class="message__admin-btn" data-topicid="{{topic_id}}" data-postid="{{post["id"]}}" data-page="{{1}}">Удалить</a>
                </div>
                {% elif current_user.role == Role.ADMIN %}
                <div class="message__admin" id="{{post["id"]}}personal_cont">
                  <a class="comments__command">Админ</a>
                  <a class="message__admin-btn" id="{{post["id"]}}answer_on" data-topicid="{{topic_id}}" data-postid="{{post["id"]}}">Ответить</a>
                  <a id="{{post.id}}post_d" class="message__admin-btn" data-topicid="{{topic_id}}" data-postid="{{post["id"]}}" data-page="{{1}}">Удалить</a>
                </div>
                {% elif current_user.is_authenticated %}
                <div class="message__admin" id="{{post["id"]}}personal_cont">
                  <a class="message__admin-btn" id="{{post["id"]}}answer_on" data-topicid="{{topic_id}}" data-postid="{{post["id"]}}">Ответить</a>
                </div>
                {% endif %}
              </div>
            </div>
          {% endfor %}

          <!--Этот блок есть всегда (только для авторизированных пользователей)-->
          {% if current_user.is_authenticated %}
          <div id="1" class="discussion__btn button">
            <form action="#" enctype="multipart/form-data"
              class="button__form" id="add_post_form" method="POST">
              <input class="profile__foto" type="file" id="file_input_id" name="screenshot" multiple
                accept="image/*,image/jpeg">
              <textarea type="text" name="post_body" id="post_body_id" cols="70" rows="5" class="button__text"
                placeholder="Написать сообщение.."></textarea>
                <input id="add_post_button" class="button__write btn" data-topicid="{{topic_id}}" type="button" value="Отправить">
            </form>
          </div>
          {% else %}
          <div id="1" class="discussion__btn button">
            <p class="discussion__help">Писать посты могут только авторизованные пользователи</p>
          </div>
          {% endif %}

          {% if posts_pagination %}
          <div class="list__pagination pagination" id="posts_pagination_container">
            <ul class="pagination__list list-reset" id="pagination">
              <li class="pagination__item disabled">
                &bull;
              </li>
              {% for p in posts_pagination.iter_pages() %}
                {% if p %}
                <li class="pagination__item active">
                  <a id="{{p}}posts_p" data-url="/get_posts_page/{{topic_id}}/{{p}}">{{ p }}</a>
                </li>
                {% else %}
                <li class="pagination__item disabled"><a href="#">&hellip;</a></li>
                {% endif %}
              {% endfor %}
              <li class="pagination__item disabled">
                &bull;
              </li>
            </ul>
          </div>
          {% endif %}
        </div>
      </div>
    </section>
  </main>
  <footer class="footer">
    <div class="footer__container container">
      <a href="#" class="footer__wrap">© CLUB | Community Head Hunters</a>
    </div>
  </footer>
</body>
</html>