<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Обсуждение тем</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/normalize.css')}}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/style.css')}}" />
  <link rel="icon" href="img/favicon.svg">
  <script defer src="js/burger.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/main/pagination.js')}}"></script>
  <script src="{{ url_for('static', filename='js/main/search_on_forum.js')}}"></script>
</head>

<body>
  <header class="header">
    <div class="header__container container">
      <a class="header__logo" href="index.html">
        <img class="header__logo-image" src="img/Logo.svg" alt="Логотип MAGIC BOOK KEEPER">
      </a>
      <div class="header__admin admin admin__wrap">
        <a href="#" class="admin__link ">
          <div class="admin__set">
            <img src="img/default_avatar.jpg" alt="" class="admin__img"> <!--Фото админа из его личного кабинета-->
          </div>
          Леонард <!--Имя админа и ссылка обратно в личный кабинет-->
        </a>
      </div>
    </div>
  </header>

  <main>
    <section id="first_section" class="main">
      <div class="main__container container">
        <div class="main__top">
          <h1 class="main__title">Наш форум</h1>
          <svg width="461" height="1" viewBox="0 0 461 1" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line y1="0.5" x2="461" y2="0.5" stroke="black" />
          </svg>
        </div>


        <div class="main__description">
          <p class="main__bottom-text">Для общения и обсуждения книг и учебы</p>
          <form class="main__form" action="/search_category_on_forum" method="post">
            <label class="main__form-label">
              <svg class="main__form-icon" width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_6_94)">
                  <path
                    d="M25.5 24.5556L18.1443 17.4723M18.1443 17.4723C19.9088 15.7732 21 13.426 21 10.8333C21 5.64801 16.6349 1.44446 11.25 1.44446C5.86523 1.44446 1.5 5.64801 1.5 10.8333C1.5 16.0188 5.86523 20.2222 11.25 20.2222C13.9424 20.2222 16.3798 19.1714 18.1443 17.4723Z"
                    stroke="#768298" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" />
                </g>
                <defs>
                  <clipPath id="clip0_6_94">
                    <rect width="27" height="26" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              <input id="category_name_id" name="category_name" type="text" class="main__form-input" placeholder="Введите название раздела.." required>
            </label>
            <button id="found_category" class="main__form-btn btn" onclick="search_category_on_forum()">Найти</button>
          </form>
        </div>

      </div>
    </section>
    

    <!--Секция для одного раздела (все разделы идут друг за другом)-->
      {% for category in categories %}
      <section id="{{category.id}}category_info" class="fraction">
        <div class="fraction__container container">
          <div class="fraction__wrap">
            <h2 class="fraction__title title">{{ category.name }}</h2> <!--The title of the category/section-->

            <span class="fraction__results"> Всего тем: {{ len(category.topics.all()) }}</span>
            <a href="#" class="fraction__topic-link"> <!--Add the new topic (for users)-->
              <div class="fraction__topic">
                <svg width="78" height="78" viewBox="0 0 78 78" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_139_2)">
                    <rect x="35" width="8" height="78" fill="#D9D9D9"/>
                    <rect x="78" y="35" width="8" height="78" transform="rotate(90 78 35)" fill="#D9D9D9"/>
                  </g>
                  <defs>
                    <clipPath id="clip0_139_2">
                      <rect width="78" height="78" fill="white"/>
                    </clipPath>
                  </defs>
                </svg>
              </div>
            </a>
            {% for topic in category.topics.all() %}
            <div class="fraction__topic-list">
              <a href="{{url_for('main.topic', topic_name=topic.name)}}" class="fraction__topic-link">
                <div class="fraction__topic">
                  {{ topic.name }} <!--The title of the topic and transition to "forum-discussion.html"  -->
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </section> 
      {% endfor %}

    {% if category_pagination %}
    <div class="list__pagination pagination" id="pagination_container">
      <ul class="pagination__list list-reset" id="pagination">
        <li{% if not category_pagination.has_prev %} class="pagination__item disabled"{% endif %}>
            <a onclick="{% if category_pagination.has_prev %}get_categories_page_on_forum('/get_categories_page_on_forum/{{category_pagination.prev_num}}'){% endif %}" id="lists_back">
                &laquo;
            </a>
            <script>scroll('lists_back')</script>
        </li>
        {% for p in category_pagination.iter_pages() %}
            {% if p %}
                <li class="pagination__item active">
                    <a onclick="get_categories_page_on_forum('/get_categories_page_on_forum/{{p}}')">{{ p }}</a>
                </li>
                <script>scroll({{ p }} + 'list_pagination')</script>
            {% else %}
            <li class="pagination__item disabled"><a href="#">&hellip;</a></li>
            {% endif %}
        {% endfor %}
        <li{% if not category_pagination.has_next %} class="pagination__item disabled"{% endif %}>
            <a onclick="{% if category_pagination.has_next %}get_categories_page_on_forum('/get_categories_page_on_forum/{{category_pagination.next_num}}'){% endif %}" id="lists_up">
                &raquo;
            </a>
            <script>scroll('lists_up')</script>
        </li>
      </ul>
    </div>
    {% endif %}
  </main>
  <footer class="footer">
    <div class="footer__container container">
      <a href="#" class="footer__wrap">© CLUB | Community Head Hunters</a>
    </div>
  </footer>

</body>
</html>
