<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin dashboard</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" href="img/favicon.svg">
</head>

<body>
  <header class="header">
    <div class="header__container container">
      <a class="header__logo" href="index.html">
        <img class="header__logo-image" src="img/Logo.svg" alt="Логотип MAGIC BOOK KEEPER">
      </a>

      <div class="header__admin admin">
        <a href="#" class="admin__link">
          <div class="admin__set">
            <img src="img/default_avatar.jpg" alt="" class="admin__img"> <!--Фото админа из его личного кабинета-->
          </div>
          Леонард <!--Имя админа и ссылка обратно в личный кабинет-->
        </a>
      </div>



    </div>
  </header>

  <main>
    <section class="main">
      <div class="main__container container">

        <div class="main__top">
          <h1 class="main__title">{{ topic_name }}</h1>
          <!--title of the topic-->

          <svg width="461" height="1" viewBox="0 0 461 1" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line y1="0.5" x2="461" y2="0.5" stroke="black" />
          </svg>

        </div>


        <div class="main__bottom">
          <a class="main__bottom-item" href="forum.html">Главная страница форума</a>
          <a class="main__bottom-item" href="#1">Написать сообщение</a>
        </div>

        <span class="main__span-forum">Сообщений: </span> <!--Количество сообщений в этой теме-->

      </div>
    </section>


    <section class="discussion">
      <div class="discussion__container container">
        <div class="discussion__message message">  <!--Сообщение-->
          <div class="message__left">
            <div class="message__name">
              <a href="#" class="message__link">
                <div class="message__set">
                  <img src="img/default_avatar.jpg" alt="" class="message__img"> <!--Фото админа из его личного кабинета-->
                </div>
                Леонард <!--Имя админа и ссылка обратно в личный кабинет-->
              </a>
            </div>

            <div class="message__name-info">
              <p class="message__info">Данные о пользователе</p>
              <span class="message__span">На сайте с "дата"</span>
            </div>
          </div>

          <div class="message__right">
            <p class="message__text">
              Комментарий <!--Сообщение пользователя-->
            </p>

            <!--This block for admin or moderator-->

            <!-- <div class="message__admin">
              <a href="" class="message__admin-btn">Cкрыть</a>
              <a href="" class="message__admin-btn">Удалить</a>
            </div> -->

            <!--This block for user (only for his messages)-->
            <div class="message__admin">
              <a href="" class="message__admin-btn">Редактировать</a>
              <a href="" class="message__admin-btn">Удалить</a>
            </div>

          </div>
        </div>

        <div class="discussion__message message">  <!--Сообщение-->
          <div class="message__left">
            <div class="message__name">
              <a href="#" class="message__link">
                <div class="message__set">
                  <img src="img/default_avatar.jpg" alt="" class="message__img"> <!--Фото админа из его личного кабинета-->
                </div>
                Леонард <!--Имя админа и ссылка обратно в личный кабинет-->
              </a>
            </div>

            <div class="message__name-info">
              <p class="message__info">Данные о пользователе</p>
              <span class="message__span">На сайте с "дата"</span>
            </div>
          </div>

          <div class="message__right">
            <p class="message__text">
              Комментарий <!--Сообщение пользователя-->
            </p>
          </div>
        </div>

        <!--Этот блок есть всегда (только для авторизированных пользователей)-->
        <div id="1" class="discussion__btn button">
          <form action="" class="button__form">
            <textarea name="" id="" cols="70" rows="5" class="button__text" placeholder="Написать сообщение.."></textarea>
            <button class="button__write">Отправить</button>
          </form>
        </div>

      </div>
    </section>




  </main>
  <footer class="footer">
    <div class="footer__container container">
      <a href="#" class="footer__wrap">© CLUB | Community Head Hunters</a>
    </div>
  </footer>

</body>

</html>
