<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/normalize.css')}}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/style.css')}}" />
  <link rel="icon" href="{{url_for('static', filename='styles/img/Logo.svg')}}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/main/pagination.js')}}"></script>
  <script src="{{ url_for('static', filename='js/main/write_post.js')}}"></script>
  <!--<link rel="icon" href="img/favicon.svg">-->
  <style>
    img.zoom {
    cursor: pointer;
    max-width: 80px;
    max-height: 80px;
    }

    img.zoom:hover {
    max-width: none;
    max-height: none;
    }
  </style>
</head>

<body>
  <header class="header">
    <div class="header__container container">
      <a class="header__logo" href="index.html">
        <img class="header__logo-image" src="img/Logo.svg" alt="Логотип MAGIC BOOK KEEPER">
      </a>

      <nav class="nav header__nav">
        <ul class="nav__list list-reset">
          <li class="nav__item"><a class="nav__link" href="#">Меню
              <svg class="nav__fa" width="62" height="37" viewBox="0 0 62 37" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <line x1="8" y1="4.5" x2="53" y2="4.5" stroke="#E9E6C3" />
                <line x1="8" y1="31.5" x2="53" y2="31.5" stroke="#E9E6C3" />
                <line x1="8" y1="18.5" x2="53" y2="18.5" stroke="#E9E6C3" />
              </svg>

            </a>
            <ul class="nav__sublist list-reset">
              <li class="nav__subitem"><a class="nav__link" href="{{url_for('main.index')}}">Главная</a></li>
              <li class="nav__subitem"><a class="nav__link" href="{{url_for('main.categories')}}">Категории книг</a></li>
              {% if current_user.is_authenticated %}
              <li class="nav__subitem"><a class="nav__link" href="{{url_for('personal.person', username=current_user.username)}}">Личный кабинет</a></li>
              {% else %}
              <li class="nav__subitem"><a class="nav__link" href="{{url_for('auth.login')}}">Личный кабинет</a></li>
              {% endif %}
              <li class="nav__subitem"><a class="nav__link" href="{{url_for('main.forum')}}">Форум</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <section class="main">
      <div class="main__container container" id="main_container">

        <div class="main__top">
          <h1 class="main__title">{{ topic_name }}</h1>
          <!--title of the topic-->

          <svg width="461" height="1" viewBox="0 0 461 1" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line y1="0.5" x2="461" y2="0.5" stroke="black" />
          </svg>

        </div>


        <div class="main__bottom">
          <a class="main__bottom-item" href="{{url_for('main.forum')}}">Главная страница форума</a>
          <a class="main__bottom-item" href="#1">Написать сообщение</a>
        </div>

        <span class="main__span-forum" id="posts_count">Сообщений: {{posts_count}}</span> <!--Количество сообщений в этой теме-->

      </div>
    </section>

    <section class="discussion">
      <div class="discussion__container container" id="disc_posts_container">
        {% for post in posts %}
          <div class="discussion__message message" id="{{post.id}}discussion_post">  <!--Сообщение-->
            <div class="message__left">
              <div class="message__name">
                <a href="#" class="message__link">
                  <div class="message__set">
                    <img src="{{url_for('personal.avatar', username=post["username"])}}" alt="" class="message__img"> <!--Фото админа из его личного кабинета-->
                  </div>
                  {{post["username"]}}
                </a>
              </div>

              <div class="message__name-info">
                <p class="message__info">
                  <span class="message__span">
                    {{post["age"]}}
                  </span>
                  <span class="message__span">
                    {{post["gender"]}}
                  </span>
                  <span class="message__span">
                    {{post["city"]}}
                  </span>
                  <span class="message__span">
                    {{post["about_me"]}}
                  </span>
                </p>
                <span class="message__span">На сайте с {{ str(post["user_timestamp"].date().day) + " " +
                  months_dict[post["user_timestamp"].date().month] +
                  " " + str(post["user_timestamp"].date().year) }}</span>
              </div>
            </div>

            <div class="message__right">
              <p class="message__text">
               {{post["body"]}} <!--Сообщение пользователя-->
              </p>
              {% if post["file"] %}
                <img style="width: 80px; height: 80px" src="{{url_for('main.post_screenshot', post_id=post["id"])}}"/>
              {% endif %}
             
          
              <!--This block for admin or moderator-->

              <!-- <div class="message__admin">
                <a href="" class="message__admin-btn">Cкрыть</a>
                <a href="" class="message__admin-btn">Удалить</a>
              </div> -->

              <!--This block for user (only for his messages)-->
              {% if (post["username"] == current_user.username) and current_user.is_authenticated %}
              <div class="message__admin">
                <a href="" class="message__admin-btn">Редактировать</a>
                <a class="message__admin-btn" onclick="del_post('/{{current_user.username}}/del_post/{{topic_id}}/{{post["id"]}}/{{1}}', '{{topic_id}}')">Удалить</a>
              </div>
              {% endif %}

            </div>
          </div>
        {% endfor %}

        <!--Этот блок есть всегда (только для авторизированных пользователей)-->
        {% if current_user.is_authenticated %}
          <div id="1" class="discussion__btn button">
            <form action="/{{current_user.username}}/{{topic_id}}/add_post" enctype="multipart/form-data" class="button__form" id="add_post_form" method="post">
              <input class="profile__foto" type="file" id="file_input_id" name="screenshot" multiple accept="image/*,image/jpeg">
              <textarea type="text" name="post_body" id="post_body_id" cols="70" rows="5" class="button__text" placeholder="Написать сообщение.." required></textarea>
              <input id="add_post_button" class="button__write" type="button" value="Отправить" onclick="add_post_on_forum()">
            </form>
          </div>
        {% else %}
          <div id="1" class="discussion__btn button">
            Писать посты могут только авторизованные пользователи
          </div>
        {% endif %}
      </div>
      {% if posts_pagination %}
      <div class="list__pagination pagination" id="posts_pagination_container">
        <ul class="pagination__list list-reset" id="pagination">
          <li class="pagination__item disabled">
            &bull;
          </li>
          {% for p in posts_pagination.iter_pages() %}
              {% if p %}
                  <li class="pagination__item active">
                      <a onclick="get_posts_page('/get_posts_page/{{topic_id}}/{{p}}')">{{ p }}</a>
                  </li>
              {% else %}
                  <li class="pagination__item disabled"><a href="#">&hellip;</a></li>
              {% endif %}
          {% endfor %}
          <li class="pagination__item disabled">
            &bull;
          </li>
        </ul>
      </div>
      {% endif %}
    </section>
  </main>
  <footer class="footer">
    <div class="footer__container container">
      <a href="#" class="footer__wrap">© CLUB | Community Head Hunters</a>
    </div>
  </footer>

</body>

</html>
