{% import "search_macro.html" as macros %}
<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Поиск книги</title>
  <link rel="stylesheet" href="{{url_for('static', filename='styles/css/normalize.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='styles/css/style.css')}}">
  <link rel="icon" href="{{url_for('static', filename='styles/img/Logo.svg')}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montaga&display=swap" rel="stylesheet">
</head>

<body class="image-2">
  <header class="header style-1">
    <div class="header__container container">
      <a class="header__logo" href="{{url_for('main.index')}}">
        <img class="header__logo-image" src="{{url_for('static', filename='styles/img/logo.png')}}" alt="Логотип MAGIC BOOK KEEPER">
      </a>

      <nav class="nav header__nav">
        <ul class="nav__list list-reset">
          <li class="nav__item"><a class="nav__link" href="#">Меню
              <svg class="nav__fa" width="62" height="37" viewBox="0 0 62 37" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <line x1="8" y1="4.5" x2="53" y2="4.5" stroke="#E9E6C3" />
                <line x1="8" y1="31.5" x2="53" y2="31.5" stroke="#E9E6C3" />
                <line x1="8" y1="18.5" x2="53" y2="18.5" stroke="#E9E6C3" />
              </svg>

            </a>
            <ul class="nav__sublist list-reset">
              <li class="nav__subitem"><a class="nav__link" href="{{url_for('main.index')}}">Главная</a></li>
              {% if current_user.is_anonymous %}
              <li class="nav__subitem"><a class="nav__link" href="{{url_for('auth.register')}}">Регистрация</a></li>
              {% endif %}
              {% if current_user.is_authenticated %}
              <li class="nav__subitem"><a class="nav__link"
                  href="{{url_for('personal.person', username=current_user.username)}}">Личный кабинет</a></li>
              {% else %}
              <li class="nav__subitem"><a class="nav__link"
                href="{{url_for('auth.login')}}">Личный кабинет</a></li>
              {% endif %}
              <li class="nav__subitem"><a class="nav__link" href="{{url_for('main.categories')}}">Категории</a></li>
              <!-- <li class="nav__subitem"><a class="nav__link" href="#">Рейтинг пользователей</a></li> -->
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <section class="main style-1">
      <div class="main__container container">

        <div class="main__top">
          <!-- <span class="main__span">Welcome!</span> -->
          <h1 class="main__title">КАКУЮ КНИГУ ХОТИТЕ НАЙТИ?</h1>

          <svg width="461" height="1" viewBox="0 0 461 1" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line y1="0.5" x2="461" y2="0.5" stroke="#E9E6C3" />
          </svg>

        </div>

        <div class="main__bottom">
          <form class="main__form" action="" method="post">

            <label class="main__form-label">
              <svg class="main__form-icon" width="27" height="26" viewBox="0 0 27 26" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_6_94)">
                  <path
                    d="M25.5 24.5556L18.1443 17.4723M18.1443 17.4723C19.9088 15.7732 21 13.426 21 10.8333C21 5.64801 16.6349 1.44446 11.25 1.44446C5.86523 1.44446 1.5 5.64801 1.5 10.8333C1.5 16.0188 5.86523 20.2222 11.25 20.2222C13.9424 20.2222 16.3798 19.1714 18.1443 17.4723Z"
                    stroke="#768298" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" />
                </g>
                <defs>
                  <clipPath id="clip0_6_94">
                    <rect width="27" height="26" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              <input type="text" name="search_result" class="main__form-input"
                placeholder="Введите название книги или автора..">
            </label>

            <div>
              <span class="form__help">Для просмотра всех книг введите слово все</span>
            </div>

            <div class="main__form-wrap">
              <select name="category" id="" class="main__form-select">
                <option class="main__form-option" value="">Категории</option>
                {% for category in categories %}
                  <option class="main__form-option" value="{{ category.name }}">{{ category.name }}</option>
                {% endfor %}
              </select>
              <select name="release_date" id="" class="main__form-select">
                <option value="">Дата издания</option>
                {% for date in date_list %}
                <option value="{{ date }}">{{ date }}</option>
                {% endfor %}
              </select>
            </div>

            <button class="main__form-btn btn">Найти</button>
          </form>
        </div>
      </div>
    </section>

    <div class="background-search">
      <!--Найденные книги -->
      {% if search_result and search_result != 404 %}

      <section class="list">
        <div class="container list__container">
          <div class="list__wrap">
            <h2 class="list__title title">Вот, что мы нашли</h2>
            <span class="list__results"> Всего результатов: {{ len(search_result) }} </span>
            <ul class="list__books list-reset">
              {% for book in search_result %}


              <!--Найденные книги-->

              <li class="list__book">
                <a href="{{url_for('main.book_page', name=book.name)}}" class="list__book-set">
                  <img class="list__book-set" src="{{url_for('main.cover', name=book.name)}}" alt="">
                </a>
                

                <div class="list__book-wrap">
                  <a href="{{url_for('main.book_page', name=book.name)}}" class="list__link">Книга: {{ book.name }}</a>
                  <a href="#" class="list__link">Автор: {{ book.author }}</a>
                </div>
              </li>

              {% endfor %}
            </ul>
          </div>
          <div class="list__pagination pagination">
            {{ macros.pagination_widget(page_count=page_count, range=range) }}
          </div>
        </div>
      </section>
      {% elif search_result == 404 %}
      <section class="list">
        <div class="container list__container">
          <div class="list__wrap">
            <h2 class="list__title title">Ничего не найдено</h2>
          </div>
        </div>
      </section>
      {% endif %}
    </div>


  </main>

  <footer class="footer">
    <div class="footer__container container">
      <a href="#" class="footer__wrap">© CLUB | Community Head Hunters</a>
    </div>
  </footer>
</body>

</html>