<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Поиск книги</title>
  <link rel="stylesheet" href="{{url_for('static', filename='styles/css/normalize.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='styles/css/style.css')}}">
  <link rel="icon" href="img/favicon.svg">
</head>

<body>
  <header class="header">
    <div class="header__container container">
      <a class="header__logo" href="{{url_for('main.index')}}">
        <img src="img/Logo.svg" alt="Логотип MAGIC BOOK KEEPER">
      </a>

      <nav class="nav header__nav">
        <ul class="nav__list list-reset">
          <li class="nav__item"><a class="nav__link" href="#">Меню
              <svg class="nav__fa" width="62" height="37" viewBox="0 0 62 37" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <line x1="8" y1="4.5" x2="53" y2="4.5" stroke="black" />
                <line x1="8" y1="31.5" x2="53" y2="31.5" stroke="black" />
                <line x1="8" y1="18.5" x2="53" y2="18.5" stroke="black" />
              </svg>

            </a>
            <ul class="nav__sublist list-reset">
              <li class="nav__subitem"><a class="nav__link" href="{{url_for('main.index')}}">Главная</a></li>
              {% if current_user.is_anonymous %}
              <li class="nav__subitem"><a class="nav__link" href="{{url_for('auth.register')}}">Регистрация</a></li>
              {% else %}
              <li class="nav__subitem"><a class="nav__link" href="#">Регистрация</a></li>
              {% endif %}
              {% if current_user.is_authenticated %}
              <li class="nav__subitem"><a class="nav__link" href="{{url_for('personal.person', username=current_user.username, _external=True)}}">Личный кабинет</a></li>
              {% else %}
              <li class="nav__subitem"><a class="nav__link" href="{{url_for('auth.login')}}">Личный кабинет</a></li>
              {% endif %}
              <li class="nav__subitem"><a class="nav__link" href="{{url_for('main.searching')}}">Поиск книг</a></li>
              <li class="nav__subitem"><a class="nav__link" href="#">Рейтинг пользователей</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <section class="main">
      <div class="main__container container">

        <div class="main__top">
          <!-- <span class="main__span">Welcome!</span> -->
          <h1 class="main__title">Какую книгу хотите найти?</h1>

          <svg width="461" height="1" viewBox="0 0 461 1" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line y1="0.5" x2="461" y2="0.5" stroke="black" />
          </svg>

        </div>

        <div class="main__bottom">
          <form class="main__form" action="" method="post">

            <label class="main__form-label">
              <svg class="main__form-icon" width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_6_94)">
                  <path
                    d="M25.5 24.5556L18.1443 17.4723M18.1443 17.4723C19.9088 15.7732 21 13.426 21 10.8333C21 5.64801 16.6349 1.44446 11.25 1.44446C5.86523 1.44446 1.5 5.64801 1.5 10.8333C1.5 16.0188 5.86523 20.2222 11.25 20.2222C13.9424 20.2222 16.3798 19.1714 18.1443 17.4723Z"
                    stroke="#768298" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" />
                </g>
                <defs>
                  <clipPath id="clip0_6_94">
                    <rect width="27" height="26" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              <input type="text" name="search_result" class="main__form-input" placeholder="Введите название книги или автора..">
            </label>

            <div class="main__form-wrap">
              <select name="genre" id="" class="main__form-select">
                <option value="">Жанр</option>
                <option value="ужасы">ужасы</option>
                <option value="мистика">мистика</option>
                <option value="детектив">детектив</option>
                <option value="фантастика">фантастика</option>
              </select>
              <!--<select name="" id="" class="main__form-select">
                <option>Тэги</option>
                <option>Пункт 1</option>
                <option>Пункт 2</option>
              </select>-->
              <select name="release_date" id="" class="main__form-select">
                <option value="">Дата издания</option>
                {% for date in date_list %}
                  <option value="{{ date }}">{{ date }}</option>
                {% endfor %}
              </select>
            </div>

            <button class="main__form-btn btn">Найти</button>
          </form>
        </div>
      </div>
    </section>
<!--Найденные книги -->
{% if search_result and search_result != 404 %}
<section class="list">
  <div class="container list__container">
    <div class="list__wrap">
      <h2 class="list__title title">Вот, что мы нашли</h2> 
      
      {% if flag %}
      {% for book in search_result %}
      <ul class="list__books list-reset">

        <!--Найденные книги по секциям-->
 
        <li class="list__book">
          <a href="{{url_for('main.book_page', name=book.name)}}" class="list__link">Книга: {{ book.name }}</a>
          <h1>Автор: {{ book.author }}</h1>
          
          <!--<select class="list__select">
            
          </select>-->
        </li>
      </ul>
      {% endfor %}
      {% else %}
      <ul class="list__books list-reset">

        <!--Найденная книга по названию-->
 
        <li class="list__book">
          <a href="{{url_for('main.book_page', name=search_result.name)}}" class="list__link">Книга: {{ search_result.name }}</a>
          <a href="#" class="list__link">Автор: {{ search_result.author }}</a>
          <!--<select class="list__select">
            
          </select>-->
        </li>
      </ul>
      {% endif %}
    </div>
  </div>
</section>
{% elif search_result == 404 %}
<section class="list">
  <div class="container list__container">
    <div class="list__wrap">
      <h2 class="list__title title">Ничего не найдено</h2> 
    </div>
  </div>
</section>
{% endif %}
    <section id="1" class="about">
      <div class="about__container container">
        <div class="about__wrap">
          <h2 class="about__title title">О нас</h2>

          <p class="about__text">
            Hello
          </p>

          <div class="about__icons">

          </div>

        </div>

      </div>
    </section>

    <section id="2" class="contacts">
      <div class="contacts__container container">
        <div class="contacts__wrap">
          <h2 class="contacts__title title">Контакты</h2>

          <p class="contacts__email">
            headhunters@gmail.com
          </p>

          <p class="contacts__phone">
            +79999999999
          </p>

          <div class="contacts__icons">

          </div>
        </div>

      </div>

    </section>
  </main>

  <footer class="footer">
    <div class="footer__container container">
      <a href="#" class="footer__wrap">© CLUB | Community Head Hunters</a>
    </div>
  </footer>
</body>

</html>
