.about__container {
  padding: 52px 100px;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 15px;
  background-color: white;
}

.about__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
