.about {
  padding-top: 0;
  padding-bottom: 25px;
}

.about__container {
  padding: 52px 100px;
  border-radius: 15px;
  background-color: #E9E6C3;
}

.about__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.about__text {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.about__icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.about__icon-photo {
  width: 50px;
  height: 50px;
}

.about__icon:not(:last-child) {
  margin-right: 20px;
}

/* Категории */

.about__cat-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.about__cat-elem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  border-radius: 20px;
  background-color: bisque;
  margin-bottom: 40px;
}
