.book {
  padding-top: 0;
  padding-bottom: 50px;
}

.book__wrap,
.comments__wrap {
  padding: 52px 100px;
  border-radius: 15px;
  background: radial-gradient(circle, rgba(206,200,189,1) 35%, rgba(255,252,237,1) 100%);
}

.book__title {
  text-align: center;
}

.book__top {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.book__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  width: 322px;
  height: 322px;
  background-color: #fdfde9;
}

.book__image-set {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.book__set {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 322px;
  min-height: 40px;
  padding: 30px;
  background: #fdfde9da;
}


.book__info {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 50px;
  width: calc(800 / 1270 * 100%);
  height: 322px;
  margin-top: 0;
  background-color: #fdfde9;
  border-radius: 20px;
}

.book__list {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
}

.book__bottom {
  padding: 50px;
  width: 100%;
  min-height: 322px;
  background-color: #fdfde9;
  border-radius: 20px;
}

.book__text {
  word-break: break-all;
  margin-top: 0;
  font-weight: 700;
}

.book__select {
  background-color: transparent;
  border: none;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}

.book__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.book__marks {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.book__mark:not(:last-child) {
  margin-right: 20px;
}

.book__link {
  color: #fdfde9;
  cursor: pointer;
  outline: none;
  transition: color 0.2s linear;
}

.book__star {
  fill: #fdfde9;
  cursor: pointer;
  outline: none;
  transition: fill 0.2s linear;
}

.book__link:hover {
  color: gold;
}

.book__star:hover {
  fill: gold;
}

.book__link {
  color: gold;
}

.book__star::active {
  fill: gold;
}

.book__state {
  color: var(--white);
  cursor: pointer;
}

.book__done {
  background-color: #5E8368;
}

.book__read {
  background-color: #9E6262;
}

.book__fuck {
  background-color: #B6B0AB;
}

.book__plan {
  background-color: #CCD78B;
}

.book__error {
  font-size: 16px;
  font-weight: 300;
  border-top:  1px solid var(--black);
  border-bottom: 1px solid var(--black);
  text-align: center;
}

.book__title {
  font-size: 18px;
  font-weight: 400;
}

.book__span {
  margin-top: 0;
  font-weight: 700;
}

.book__text {
  word-break: break-all;
}

.book__count {
  background-color: #fdfde9;
  width: 30px;
}

.book__td {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
