.comments {
  padding-top: 50px;
  padding-bottom: 50px;
}

.comments__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.comments__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comments__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comments__label {
  display: flex;
  flex-direction: column;
  width: 800px;
  padding: 40px;
  border: 2px solid #fdfde9;
  border-radius: 20px;
}

.comments__label-popup {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
}

.comments__textarea {
  padding: 27px 43px;
  margin-bottom: 0;
  width: 100%;
  background-color: #fdfde9;
  border-radius: 20px;
  border: none;
  resize: none;
  outline: none;
  cursor: pointer;

  transition: background-color 0.3s linear, color .3s linear;
}

.comments__textarea:hover,
.popup__textarea:hover{
  background-color: #b0a99d;
  color: #fdfde9;
}

.popup__textarea:hover {
  background-color: #d8d8c2;
  color: #332f2e;
}

.comments__textarea:focus,
.popup__textarea:focus {
  background-color: #332f2e;
  color: #F5F5DC;
}

.comments__textarea:active,
.popup__textarea:active {
  background-color: #fdfde9;
  color: #332f2e;
}

.comments__text {
  word-break: break-all;
}



.comments__btn {
  width: 210px;
  margin-top: 30px;
  background-color: #fdfde9;
  border: none;
  text-align: center;
  outline: none;
  cursor: pointer;
}

.comments__btn:hover {
  background-color: #b0a99d;
  color: #fdfde9;
}

.comments__btn:focus {
  background-color: #332f2e;
  color: #fdfde9;
}

.comments__btn:active {
  background-color: #989185;
  color: #fdfde9;
}

.comments__comment {
  display: flex;
  flex-direction: column;
  padding: 27px 43px;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 500px;
  background-color: #fdfde9;
  border-radius: 20px;
}

.comments__command {
  padding: 2px 8px;
  outline: none;
  cursor: pointer;
  transition: color .3s linear, background-color .3s linear;
}

.comments__command:hover {
  color:  #F5F5DC;
  background-color: rgba(95, 77, 77, 0.444);
}

.comments__command:focus {
  color: #F5F5DC;
  background-color: #2E3033;

}

.comments__command:active {
  color: #F5F5DC;
  background-color: #2E3033;
}


.comments__commands {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  border-radius: 15px;
  background-color: #cec8bd92;
}

.comments__top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.comments__image {
  /* margin-bottom: 40px; */
  margin-right: 10px;
  width: 40px;
  height: 40px;
  background-color: #EFF6F2;
}

.comments__image-set {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.comments__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
