.footer {
  /* position: absolute;
  bottom: 0;
  width: 100%; */
  padding-top: 50px;
  padding-bottom: 25px;
  background-color: #cec8bd;
}

/* .footer__container {
  border-radius: 15px;
  padding: 52px 100px;
  background-color: white;

} */

.footer__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #2E3033;
  text-align: center;

}

.footer-down {
  margin-top: 20px;
}
