.form {
  padding-top: 25px;
  padding-bottom: 50px;
}

.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.form__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 100px;
  margin-bottom: 50px;
  border-radius: 15px;
  background-color: #cec8bd;
}



.form__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 26px;
}

.form__remember {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .form__label:not(:last-child) {
  margin-bottom: 26px;
} */

.form__help {
  max-width: 510px;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #332f2e;
}

.form__span {
  color: #332f2e;
}

.span {
  margin-left: 10px;
}

.form__span-genre {
  text-align: center;
}

.form__input {
  padding: 18px 18px;
  width: 519px;
  border-radius: 20px;
  border: none;
  background-color: #fdfde9;
  color: #332f2e;
  resize: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s linear;
}

.form__input:hover {

  background-color: #b0a99d;
  color: #fdfde9;
}

.form__input:focus {
  background-color: #332f2e;
  color: #F5F5DC;
}

.form__input:active {
  background-color: #fdfde9;
  color: #332f2e;
}

.form__btn {
  width: 300px;
  margin-top: 38px;
  background-color: #fdfde9;
  border: none;
  outline: none;
  cursor: pointer;
  transition: color .3s linear, background-color .3s linear;
}

.form__btn:hover {
  background-color: #b0a99d;
  color: #fdfde9;
}

.form__btn:focus {
  background-color: #332f2e;
  color: #fdfde9;
}

.form__btn:active {
  background-color: #989185;
  color: #fdfde9;
}

.form__genre-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 519px;
}

.form__genre {
  outline: none;
  cursor: pointer;
}

.form__genre:not(:nth-child(6n)) {
  margin-right: 20px;
}

.form__exit-btn {
  margin-top: 50px;
  border-bottom: 1px solid var(--black);
  outline: none;
  cursor: pointer;
}

.form__forget {
  outline: none;
  cursor: pointer;
  transition: color .3s linear;
}

.form__forget:hover {
  color: #fdfde9;
}

.form__forget:focus {
  text-decoration-line: underline;
  color: #F5F5DC;
  text-decoration-color: #F5F5DC;

}

.form__forget:active {
  color: #989185;
}



.form__exit-btn {
  margin-top: 20px;
  padding: 3px;
  background-color: transparent;
  border: none;
  width: 400px;
  border-bottom: 1px solid #2E3033;
  text-align: center;
  cursor: pointer;
  outline-offset: 5px;
  outline: none;
  transition: background-color 0.3s linear, color 0.3s linear, border-bottom 0.3s linear;
  ;
}


.form__exit-btn:hover {
  background-color: #fdfde9;
  border-bottom: 1px solid #fdfde9;
}

.form__exit-btn:focus {
  color: #fdfde9;
  background-color: #2E3033;
  border-bottom: 1px solid #2E3033;
}

.form__exit-btn:active {
  color: #fdfde9;
  background-color: #989185;
  border-bottom: 1px solid #989185;
}


.form__maintaining {
  display: flex;
  flex-direction: column;
  padding: 50px 100px;
  margin-bottom: 50px;
  border-radius: 15px;
  background-color: #cec8bd;

}

.form__book {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  line-height: 18px;
}

.form__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  border: 1px solid #fdfde9;
  background-color: #bcb7ad;

}

.form__span-title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  text-transform: uppercase;
  color: #F5F5DC;
  font-weight: 800;
}

.form__span-info {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 50%;
  text-align: right;
  text-transform: uppercase;
}

.form__book-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.form__delete-btn {
  margin-top: 20px;
  padding: 3px;
  background-color: transparent;
  border: none;
  width: 400px;
  border-bottom: 1px solid #2E3033;
  text-align: center;
  cursor: pointer;
  outline-offset: 5px;
  outline: none;
  transition: background-color 0.3s linear, color 0.3s linear, border-bottom 0.3s linear;
}


.form__delete-btn:hover {
  background-color: #fdfde9;
  border-bottom: 1px solid #fdfde9;
}

.form__delete-btn:focus {
  color: #fdfde9;
  background-color: #2E3033;
  border-bottom: 1px solid #2E3033;
}

.form__delete-btn:active {
  color: #fdfde9;
  background-color: #989185;
  border-bottom: 1px solid #989185;
}
