.list {
  padding-top: 50px;
  padding-bottom: 50px;
}

.list__wrap {
  padding: 52px 52px;
  border-radius: 15px;
  background-color: #cec8bd;
}

.lists__create {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 129px;
  padding: 50px 50px;
  background-color: #cec8bd;
  border-radius: 20px;
  transition: background-color 0.3s linear;
  cursor: pointer;
}

.lists__create:hover {
  background-color: #fdfde9;
}

.lists__create:focus {
  color: #fdfde9;
  background-color: #332f2e;
  outline: none;
}

.lists__create:active {
  background-color: #332f2e;
  color: #F5F5DC;
}

.lists__btn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}


.list__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list__books {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.list__book {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  width: 222px;
  height: 300px;
  margin-bottom: 48px;
  background-color: #fdfde9;
  transition: background-color 0.3s linear, border 0.3s linear;
  cursor: pointer;
}



.list__block-add {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 222px;
  height: 300px;
  background-color: transparent;
}

.list__book-set {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: background-color 0.3s linear, border 0.3s linear;
  cursor: pointer;
}

.list__book-set:hover {
  border: 5px solid #fdfde9;
}

.list__book-set:focus {
  border: 5px solid #989185;
}

.list__book-set:active {
  border: 5px solid #989185;
}

.list__add {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s linear;
  cursor: pointer;
}

.list__add:hover {
  background-color: #989185;
}

.list__add:active {
  background-color: #332f2e;
}



.list__book-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 222px;
  min-height: 40px;
  padding: 10px;
  /* background: rgba(243, 226, 187, 0.8); */
  background-color: #fdfde9;
  opacity: 0.9;
  text-align: center;

}

.list__title {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 400;
}

.list__name {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}

.list__results {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.list__input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 300px;
  padding: 22px 22px;
  background-color: white;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}

.list__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list__select {
  margin-top: 80px;
  outline: none;
  cursor: pointer;
}

.list__text {
  margin-top: 0;
  font-size: 30px;
}

.list__end {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list__delete-btn {
  width: 400px;
  border-top: 1px solid #2E3033;
  border-bottom: 1px solid #2E3033;
  text-align: center;
  cursor: pointer;
  outline-offset: 5px;
  outline: none;
  transition: background-color 0.3s linear;
}

.list__delete-btn:hover {
  background-color: #fdfde9;
  border-top: 1px solid #fdfde9;
  border-bottom: 1px solid #fdfde9;
}

.list__delete-btn:focus {
  color: #fdfde9;
  background-color: #2E3033;
  border-top: 1px solid #2E3033;
  border-bottom: 1px solid #2E3033;
}

.list__delete-btn:active {
  color: #fdfde9;
  background-color: #989185;
  border-top: 1px solid #989185;
  border-bottom: 1px solid #989185;
}

.list__pagination {
  margin-bottom: 20px;
  outline: none;
  cursor: pointer;
}

.list__list {
  padding-top: 40px;
  padding-bottom: 40px;
}


.lists__catalog {
  padding: 52px 100px;
  width: 500px;
  border-radius: 15px;
  background-color: #fdfde9;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s linear, color 0.3s linear;
  ;
}

.lists__catalog:hover {
  color: #fdfde9;
  background-color: #cec8bd;
}

.lists__catalog:focus {
  color: #fdfde9;
  background-color: #332f2e;
  outline: none;
}

.lists__catalog:active {
  background-color: #332f2e;
  color: #F5F5DC;
}

.list__book-delete-btn {
  margin-top: 10px;
  font-size: 14px;
  line-height: 14px;
  border-bottom: 1px solid transparent;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: color .3s linear, background-color .3s linear, border-bottom .3s linear;

}

.list__link-add {
  font-size: 16px;
  line-height: 16px;
  border-bottom: 1px solid transparent;
  outline: none;
  cursor: pointer;
  transition: color .3s linear, background-color .3s linear, border-bottom .3s linear;
}

.list__book-delete-btn:hover,
.list__link-add:hover {
  color: rgba(95, 77, 77, 0.444);
  cursor: pointer;
  border-bottom: 1px solid rgba(95, 77, 77, 0.444);
}

.list__book-delete-btn:focus,
.list__link-add:focus {
  border-bottom: 1px solid #2E3033;
  color: #2E3033;
  background-color: rgba(95, 77, 77, 0.292);
}

.list__book-delete-btn:active,
.list__link-add:active {
  border-bottom: 1px solid #2E3033;
  color: #2E3033;
  background-color: rgba(95, 77, 77, 0.292);
}

.list__link-book {
  font-size: 16px;
  line-height: 18px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: color .3s linear, background-color .3s linear;
}

.list__link-book:hover {
  color: #F5F5DC;
  background-color: rgba(95, 77, 77, 0.444);
}

.list__link-book:focus {
  color: #2E3033;
  background-color: #E5C085;
}

.list__link-book:active {
  color: #2E3033;
  background-color: #E5C085;
}

.list__link-plan {
  margin-top: 10px;
}

.list_link,
.list__link-plan {
  font-size: 16px;
  line-height: 18px;

  
}

.list__link {
  text-align: center;
}

.list__book:not(:nth-child(4n)) {
  margin-right: 59px;
}

.pagination__item {
  width: 8px;
  cursor: pointer;
}
