.profile {
  padding-top: 25px;
  padding-bottom: 50px;
}

.profile__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.profile__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 52px 100px;
  border-radius: 15px;
  background-color: #cec8bd;
}

.profile__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile__image {
  margin-bottom: 40px;
  width: 322px;
  height: 322px;
  background-color: #fdfde9;
}

.profile__image-set {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile__info {
  display: flex;
  justify-content: space-between;
  padding: 27px 43px;
  margin-bottom: 20px;
  width: 500px;
  background-color: #fdfde9;
  border-radius: 20px;
}

.textarea {
  min-height: 86px;
}

.profile__edit-btn {
  margin-top: 20px;
  padding: 3px;
  background-color: transparent;
  border: none;
  width: 400px;
  border-bottom: 1px solid #2E3033;
  text-align: center;
  cursor: pointer;
  outline-offset: 5px;
  outline: none;
  transition: background-color 0.3s linear, color 0.3s linear, border-bottom 0.3s linear;
}


.profile__edit-btn:hover {
  background-color: #fdfde9;
  border-bottom: 1px solid #fdfde9;
}

.profile__edit-btn:focus {
  color: #fdfde9;
  background-color: #2E3033;
  border-bottom: 1px solid #2E3033;
}

.profile__edit-btn:active {
  color: #fdfde9;
  background-color: #989185;
  border-bottom: 1px solid #989185;
}

.profile__input {
  padding: 27px 43px;
  margin-bottom: 20px;
  width: 500px;
  background-color: #fdfde9;
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s linear;
}

.profile__text {
  padding: 27px 43px;
  margin-bottom: 20px;
  width: 500px;
  background-color: #fdfde9;
  border-radius: 20px;
  border: none;
  resize: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s linear;
}

.profile__select {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s linear;
}

.profile__exit {
  width: 400px;
  text-align: center;
  cursor: pointer;
  outline-offset: 5px;
  outline: none;
  border: none;
  transition: background-color 0.3s linear;
}

.profile__exit:hover {
  background-color: #fdfde9;
  border: none;
}

.profile__exit:focus {
  color: #fdfde9;
  background-color: #2E3033;
  border: none;
}

.profile__exit:active {
  color: #fdfde9;
  background-color: #989185;
  border: none;
}

.profile__input:hover,
.profile__select:hover,
.profile__text:hover {
  background-color: #b0a99d;
  color: #fdfde9;
}

.profile__input:focus,
.profile__select:focus,
.profile__text:focus {
  background-color: #332f2e;
  color: #F5F5DC;
  border: none;
  outline: none;
}

.profile__input:active,
.profile__select:active,
.profile__text:active {
  background-color: #fdfde9;
  color: #332f2e;
}

.profile__image-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile__foto {
  display: flex;
  width: 300px;
  align-items: center;
  justify-content: center;
}
