.fraction {
  padding-bottom: 50px;
}

.fraction__topic-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.fraction__list-item {
  position: relative;
  width: 300px;
  height: 200px;
  border-radius: 20px;
  background-color: #fdfde9;
  margin-bottom: 40px;
  transition: background-color 0.3s linear, color 0.3s linear;
}

.fraction__topic {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  padding: 20px;
  border-radius: 20px;
  background-color: transparent;

}

.fraction__text-error {
  text-align: center;
}

.fraction__wrap {
  padding: 52px 52px;
  border-radius: 15px;
  background-color: #cec8bd;
}

.fraction__list-item:not(:nth-child(3n)) {
  margin-right: 80px;
}

/* .fraction__list-item:hover {
  color: #F5F5DC;
  background-color: #cfcca6;
} */

.fraction__list-item:hover {
  background-color: #b0a99d;
  color: #fdfde9;
}

.fraction__list-item:focus {
  background-color: #332f2e;
  color: #fdfde9;
}

.fraction__list-item:active {
  background-color: #989185;
  color: #fdfde9;
}

.fraction__topic-link {
  cursor: pointer;
}

.fraction__title {
  margin-bottom: 40px;
  text-align: center;
}

.fraction__results {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.main__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 21px;
}

/* Styles for sections - discussion*/

.discussion__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.discussion__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 52px 100px;
  border-radius: 15px;
  background-color: #cec8bd;
}

.discussion__message {
  display: flex;
  flex-direction: row;
  width: 950px;
}

.discussion__message:not(:last-child) {
  margin-bottom: 20px;
}

.message__left {
  padding: 20px;
  width: 400px;
  background-color: #989185;
  color: #fdfde9;
}

.message__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  background-color: #fdfde9;
  word-break: break-all;
}

.message__admin {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  right: 20px;
  bottom: 20px;
}

.message__admin-btn {
  margin-left: 20px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s linear;
}

.message__admin-btn:hover {
  background-color: #b0a99d;
  color: #fdfde9;
}

.message__admin-btn:focus {
  background-color: #332f2e;
  color: #F5F5DC;
}

.message__admin-btn:active {
  background-color: #fdfde9;
  color: #332f2e;
}

.message__name,
.message__link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

}

.message__text {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 20px;
}

.message__text-answer {
  display: inline-block;
  max-width: 690px;
}

.message__set {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  background-color: #EFF6F2;
}

.message__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.message__name-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.discussion__btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  width: 700px;
  /* background-color: #fdfde9; */
}

.discussion__help {
  text-align: center;
}

.button__text {
  padding: 27px 43px;
  margin-bottom: 0;
  width: 100%;
  background-color: #fdfde9;
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  resize: none;
  transition: background-color 0.3s linear, color .3s linear;
}


.button__text:hover {
  background-color: #b0a99d;
  color: #fdfde9;
}



.button__text:focus {
  background-color: #332f2e;
  color: #F5F5DC;
}

.button__text:active {
  background-color: #fdfde9;
  color: #332f2e;
}

.button__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.button__write {
  width: 300px;
  margin-top: 38px;
  background-color: #fdfde9;
  border: none;
  outline: none;
  cursor: pointer;
  transition: color .3s linear, background-color .3s linear;
}

.button__write:hover {
  background-color: #b0a99d;
  color: #fdfde9;
}

.button__write:focus {
  background-color: #332f2e;
  color: #fdfde9;
}

.button__write:active {
  background-color: #989185;
  color: #fdfde9;

}

.main__span-forum {
  margin-top: 30px;
  font-size: 15px;
}

.message__answer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #cec8bd;
  word-break: break-all;
}

.message__span-answer {
  font-weight: 700;
}
