@media (max-width: 1300px) {

  .category__wrap {
    padding: 70px 100px;
  }

  .list__wrap {
    padding: 52px 100px;
  }

  .fraction__list-item:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .category__elem:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .fraction__topic-list,
  .category__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .fraction__list-item,
  .category__elem {
    width: 450px;
  }

  .discussion__message {
    width: 800px;
  }

  .list__book:not(:nth-child(4n)) {
    margin-right: 0;
  }

  .list__book:not(:nth-child(3n)) {
    margin-right: 59px;
  }

  .list__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .list__wrap {
    padding: 52px 52px;
    width: 900px;
  }


  .book__wrap,
  .comments__wrap {
    padding: 52px 52px;
  }

  .book__image {
    width: 300px;
    height: 300px;
  }

  .book__set {
    width: 300px;
  }

  .book__info {

    width: calc(800 / 1370 * 100%);
    height: 300px;
  }
}

@media (max-width: 1140px) {

  .fraction__list-item,
  .category__elem {
    width: 300px;
  }

  .fraction__container,
  .category__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .fraction__wrap,
  .category__wrap {
    padding: 52px 52px;
    width: 800px;
  }

  .discussion__wrap {
    padding: 52px 52px;
  }

  .discussion__message {
    max-width: 100%;
  }

  .list__wrap {
    padding: 52px 140px;
    width: 800px;
  }

  .list__book:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .list__book:not(:nth-child(2n)) {
    margin-right: 59px;
  }
}

@media (max-width: 992px) {
  .profile__image {
    width: 300px;
    height: 300px;
  }

  .form__input,
  .profile__info,
  .profile__input,
  .profile__text {
    width: 400px;
  }

  .form__help {
    max-width: 400px;
  }

  .fraction__wrap,
  .category__wrap {
    padding: 52px 52px;
    width: 600px;
  }

  .category__elem,
  .fraction__list-item,
  .fraction__topic,
  .category__block {
    width: 240px;
    height: 150px;
  }

  .list__wrap {
    padding: 52px 52px;
    width: 600px;
  }

  .form__wrap,
  .users__wrap {
    padding: 52px 52px;
  }

  .list__book:not(:nth-child(2n)) {
    margin-right: 0;
  }

  .list__books {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .list__book,
  .list__add,
  .list__block-add {
    width: 200px;
    height: 278px;
  }

  .list__book-wrap {
    width: 200px;
  }

  .book__top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .book__info {
    justify-content: left;
    margin-top: 20px;
    width: 100%
  }

  .discussion__wrap {
    padding: 52px 52px;
    width: 600px;
  }

  .discussion__btn {
    width: 500px;
  }

  .message__left {
    width: 200px;
  }

  .message__admin-btn {
    font-size: 13px;
  }

  .form__genre-wrap {
    width: 450px;
  }

  .nav__admin-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav__admin-item:not(:last-child) {
    margin-bottom: 20px;
    margin-right: 0;
  }

  .list__form-input {
    width: 400px;
  }

  .list__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .list__form-label {
    margin-right: 0;
  }

  .list__btn-search {
    margin-top: 20px;
    width: 200px;
  }
}

@media (max-width: 767px) {

  .form__input,
  .profile__info {
    width: 300px;
    padding: 10px 20px;
  }

  .profile__input,
  .profile__text {
    width: 300px;
    padding: 15px 20px;
  }

  .profile__image {
    width: 200px;
    height: 200px;
  }

  .profile__wrap {
    padding: 52px 52px;
  }

  .profile__edit-btn,
  .profile__exit,
  .list__delete-btn,
  .form__exit-btn {
    width: 300px;
  }

  .popup__btn-end,
  .popup__btn {
    width: 200px;
  }

  .list__wrap {
    width: 400px;
  }

  .list__books {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* .list__book,
  .list__add {
    width: 178px;
    height: 256px;
  }

  .list__book-wrap {
    width: 178px;
  } */


  .fraction__wrap,
  .category__wrap {
    padding: 52px 52px;
    width: 400px;
  }

  .category__elem,
  .fraction__list-item,
  .fraction__topic,
  .category__block {
    width: 200px;
    height: 130px;
  }

  .category__list,
  .fraction__topic-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main__form-input {
    width: 350px;
  }

  .book__image {
    width: 200px;
    height: 200px;
  }

  .book__set {
    width: 200px;
  }

  .book__info {
    justify-content: center;
    padding: 30px;
  }

  /* .book__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  } */

  .comments__label {
    padding: 20px;
    width: 350px;
  }

  .comments__form {
    margin-bottom: 20px;
  }

  .comments__textarea {
    padding: 20px 20px;
  }

  .comments__comment {
    padding: 20px;
    width: 350px;
    margin-top: 20px;
  }

  .comments__commands {
    padding: 10px;
  }

  .lists__catalog {
    width: 400px;
  }

  .form__genre-wrap {
    width: 350px;
  }

  .discussion__wrap {
    padding: 30px 30px;
    width: 450px;
  }

  .message__left {
    width: 150px;
  }

  .message__span {
    font-size: 12px;
    line-height: 16px;
  }

  .discussion__btn {
    width: 350px;
  }

  .button__write {
    width: 200px;
  }

  .message__admin-btn {
    margin-left: 10px;
    font-size: 11px;
  }

  .list__form-input {
    width: 250px;
  }

  .popup__formContainer {
    width: 350px;
  }

  .about__wrap,
  .contacts__wrap {
    padding: 30px;
  }

  .form__help {
    max-width: 300px;
  }

  .main__bottom {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 21px;
  }

  .main__bottom-item:not(:last-child) {
    margin-right: 0;
  }

  .main__bottom-item {
    margin-bottom: 10px;
  }

}

@media (max-width: 575px) {
  .header__logo-image {
    width: 40px;
    height: 40px;
  }

  .about__wrap,
  .contacts__wrap,
  .profile__wrap,
  .list__wrap,
  .category__wrap,
  .book__wrap,
  .comments__wrap,
  .fraction__wrap,
  .discussion__wrap,
  .users__wrap,
  .form__wrap {
    padding: 20px;
  }



  .comments__label {
    border: none;
    padding: 0;
    width: 200px;
  }

  .comments__btn {

    margin-top: 15px;
    font-size: 12px;
  }

  .comments__commands {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .comments__top {
    justify-content: center;
    align-items: center;
  }

  .comments__link-date,
  .comments__text {
    text-align: center;
  }

  .comments__link-date {
    border-bottom: 1px solid black;
  }

  .comments__comment {
    width: 200px;
  }

  .profile__image {
    width: 150px;
    height: 150px;
  }

  .form__input,
  .profile__info {
    width: 200px;
    padding: 6px 15px;
  }

  .form__input {
    padding: 10px 15px;
  }

  .form__span-genre {
    text-align: left;
  }

  .form__genre-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;

    width: 200px;
  }

  .form__genre:not(:nth-child(2n)) {
    margin-right: 20px;
  }

  .profile__edit-btn,
  .profile__exit,
  .list__delete-btn,
  .form__exit-btn {
    width: 200px;
    font-size: 11px;
    line-height: 15px;
  }

  .book__list-element {
    font-size: 12px;
    line-height: 16px;
  }

  .book__list-element:not(:last-child) {
    margin-bottom: 5px;
  }

  .book__info {
    height: 250px;

  }

  .book__top {
    margin-bottom: 20px;
  }

  .book__bottom {
    padding: 20px;
    min-height: 120px;
    word-break: break-all;
  }

  .book__title {
    font-size: 15px;
  }

  .book__text {
    margin-bottom: 0;
  }

  .header__menu {
    display: none;
  }

  .nav__link {
    font-size: 15px;
    line-height: 15px;
  }

  .nav__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .nav__menu {
    width: 300px;
  }

  .main__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 34px;
    line-height: 34px;
  }

  .main__span {
    font-size: 12px;
    line-height: 14px;
  }

  .main__bottom-item,
  .nav__admin-link {
    font-size: 15px;
    line-height: 15px;
  }

  .nav__admin-item:not(:last-child) {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .main {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .main__help,
  .main__help-end {
    display: none;
  }

  .main__form-label {
    padding: 5px;
  }

  .main__form-input {
    padding: 10px;
  }

  .main__form-icon {
    margin-right: 0;
    width: 20px;
    height: 20px;
  }

  .title {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 20px;
  }

  .about__text {
    margin-bottom: 20px;
    font-size: 13px;
    line-height: 17px;
  }

  .about__icon-photo {
    width: 30px;
    height: 30px;
  }

  .contacts__email,
  .contacts__phone {
    margin-bottom: 0;
    font-size: 13px;
  }

  .footer__wrap {
    font-size: 13px;
  }

  .list__form-input {
    width: 200px;
  }

  .category__btn {
    right: auto;
    line-height: 12px;
    margin-right: 0;
  }

  .users__title {
    text-align: center;
  }

  :root {
    --container-padding: 30px;
    --default-fs: 12px;
  }

  .profile__edit-btn {
    padding: 2px;
  }

  .lists__create {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 200px;
    height: 60px;
  }

  .list__svg {
    display: none;
  }

  .lists__btn{
    line-height: 15px;
    font-size: 15px;
  }

  .form__help {
    width: 200px;
    margin-top: 10px;
    font-size: 12px;
  }

  .profile {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .list {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .list__book,
  .list__add,
  .list__block-add {
    width: 150px;
    height: 178px;
  }

  .list__book-wrap {
    width: 150px;
  }


  .list__wrap,
  .category__wrap,
  .fraction__wrap,
  .discussion__wrap {
    width: 240px;
  }

  .discussion__message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .message__left {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    width: 100%;
  }

  .discussion__btn {
    padding: 0;
    width: 200px;
    margin-top: 25px;
  }

  .list__btn-search,
  .form__btn  {
    width: 150px;
  }

  .form__btn {
    padding: 12px 20px;
    margin-top: 10px;
    width: 210px;
  }

  .form__span {
    margin-bottom: 2px;
    line-height: 15px;
  }

  .button__write {
    width: 150px;
  }

  .users__btn {
    line-height: 15px;
  }

  /* .profile__foto {
    display: flex;
    flex-direction: column;
  } */

  .message__answer {
    padding: 5px 10px;
  }

  .message__span-answer {
    border-bottom: 1px solid black;
  }

  /* .message__name-info {
    text-align: center;
  } */

  .message__admin {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
  }

  .list__book-delete-btn {
    font-size: 12px;
  }

  .list__link-book {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 13px;
  }

  .list__link {
    line-height: 15px;
  }

  .list__svg2 {
    width: 50px;
    height: 50px;
  }

  .fraction__text-error {
    line-height: 16px;
  }

  .fraction__list-item {
    margin-bottom: 20px;
  }

  .button__text {
    padding: 20px;
  }
  .list__link-plan {
    display: none;
  }

  .profile__input,
  .profile__text {
    width: 200px;
    padding: 15px 15px;
  }

  .list__delete-btn {
    padding: 3px;
  }

  .category__elem,
  .fraction__list-item,
  .fraction__topic,
  .category__block {
    width: 150px;
    height: 100px;
  }

  .category__elem {
    margin-bottom: 20px;
  }

  .main__svg {
    width: 300px;
  }

  .main__form-input {
    width: 170px;
  }

  .book__image {
    width: 150px;
    height: 150px;
  }

  .book__set {
    width: 150px;
  }

  .main__bottom-text {
    margin-top: 5px;
    margin-bottom: 30px;
    text-align: center;
    line-height: 15px;
  }

  .main__description {
    margin-top: 3px;
  }

  .main__form-btn {
    margin-top: 20px;
  }

  .popup__formContainer,
  .popup__formContainer {
    width: 200px;
  }

  .popup__textarea,
  .popup__formContainer input[type=text], .popup__formContainer input[type=password] {
    padding: 10px;
  }

  .popup__btn-end,
  .popup__btn {
    width: 100px;
    line-height: 12px;
  }
}
