/* * {
  box-sizing: border-box;
}

.openBtn {
  display: flex;
  justify-content: left;
}

.openButton {
  border: none;
  border-radius: 5px;
  background-color: #1c87c9;
  color: white;
  padding: 14px 20px;
  cursor: pointer;
  position: fixed;
}

.loginPopup {
  position: absolute;
  text-align: center;
  width: 100%;
}

.formPopup {
  position: fixed;
  left: 45%;
  top: 5%;
  transform: translate(-50%, 5%);
  border: 6px solid #fdfde9;
  z-index: 9;
}

.formContainer {
  width: 600px;
  padding: 20px;
  background-color: #8f7d7d;
}

.formContainer input[type=text],
.formContainer input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 20px 0;
  border: none;
  background: #eee;
}

.formContainer input[type=text]:focus,
.formContainer input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* .formContainer .btn {
  padding: 12px 20px;
  border: none;
  background-color: #8ebf42;
  color: #fff;
  cursor: pointer;
  margin-bottom: 15px;
  opacity: 0.8;
}

.formContainer .cancel {
  background-color: #cc0000;
  margin-left: 20px;
} */

.formContainer .btn:hover,
.openButton:hover {
  opacity: 1;
}

.popup__btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup__btn {
  margin-top: 20px;
  padding: 3px;
  background-color: transparent;
  border: none;
  width: 400px;
  border-bottom: 1px solid #2E3033;
  text-align: center;
  cursor: pointer;
  outline-offset: 5px;
  outline: none;
  transition: background-color 0.3s linear, color 0.3s linear, border-bottom 0.3s linear;
}

.popup__btn:hover {
  background-color: #fdfde9;
  border-bottom: 1px solid #fdfde9;
}

.popup__btn:focus {
  color: #fdfde9;
  background-color: #2E3033;
  border-bottom: 1px solid #2E3033;
}

.popup__btn:active {
  color: #fdfde9;
  background-color: #989185;
  border-bottom: 1px solid #989185;
}

.popup__btn-end {
  width: 400px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  outline-offset: 5px;
  outline: none;
  border: none;
  transition: background-color 0.3s linear;
}

.popup__btn-end:hover {
  background-color: #fdfde9;
  border: none;
}

.popup__btn-end:focus {
  color: #fdfde9;
  background-color: #2E3033;
  border: none;
}

.popup__btn-end:active {
  color: #fdfde9;
  background-color: #989185;
  border: none;
}

/*Forum-discussion*/


.popup {
  /* position: absolute;
  text-align: center;
  width: 100%; */
  /* height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .7);
  z-index: 100; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  opacity: 0;
  animation: ani 1s forwards;
}

.popup__formPopup {
  position: absolute;
  /* width: 400px; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  /* position: fixed;
  left: 50%;
  top: 5%;
  transform: translate(-50%, 5%); */
  border: 6px solid #989185;
  /* z-index: 9; */
  border-radius: 15px;
  background-color: #fdfde9;
  opacity: 0;
  animation: ani 1s forwards;
}

@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/* .popup__btn-end:active .popup, .popup__formPopup {
  opacity: 1;
  animation: fad 1s forwards;
}

.fadeout {
  opacity: 1;
  animation: fad 1s forwards;
}

@keyframes fad {
  100% {opacity: 1;}
  0% {opacity: 0;}
} */

.no-scroll {
  overflow-y: hidden;
}

.popup__formContainer {
  width: 600px;
  padding: 20px;
  border-radius: 15px;
  background-color: #989185;
}

.popup__formContainer input[type=text],
.popup__formContainer input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 20px 0;
  border: none;
  background: #fdfde9;
}

.popup__formContainer input[type=text]:focus,
.popup__formContainer input[type=password]:focus {
  background-color: #332f2e;
  color: #F5F5DC;
  outline: none;
}


.popup__formContainer .btn:hover {
  opacity: 1;
}

.popup__textarea {
  padding: 20px 40px;
  margin-bottom: 0;
  width: 100%;
  background-color: #fdfde9;
  border-radius: 20px;
  border: 2px solid #989185;
  resize: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s linear, color .3s linear;
}



.popup__title {
  text-align: center;
  color: #2E3033;
}
