{% import "lists_macro.html" as macros %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/normalize.css')}}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/style.css')}}" />
  <link rel="icon" href="img/favicon.svg">
  <script src="{{ url_for('static', filename='js/admin/show_page_elems.js')}}"></script>
  <script src="{{ url_for('static', filename='js/admin/book_search_in_a_category_act.js')}}"></script>
  <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/page_scroll.js')}}"></script> 
  <script src="{{ url_for('static', filename='js/admin/pagination.js')}}"></script> 
  <style>
    * {
      box-sizing: border-box;
    }
    .openBtn {
      display: flex;
      justify-content: left;
    }
    .openButton {
      border: none;
      border-radius: 5px;
      background-color: #1c87c9;
      color: white;
      padding: 14px 20px;
      cursor: pointer;
      position: fixed;
    }
    .loginPopup {
      position: absolute;
      text-align: center;
      width: 100%;
    }
    .formPopup {
      position: fixed;
      left: 45%;
      top: 5%;
      transform: translate(-50%, 5%);
      border: 3px solid #999999;
      z-index: 9;
    }
    .formContainer {
      max-width: 300px;
      padding: 20px;
      background-color: #fff;
    }
    .formContainer input[type=text],
    .formContainer input[type=password] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 20px 0;
      border: none;
      background: #eee;
    }
    .formContainer input[type=text]:focus,
    .formContainer input[type=password]:focus {
      background-color: #ddd;
      outline: none;
    }
    .formContainer .btn {
      padding: 12px 20px;
      border: none;
      background-color: #8ebf42;
      color: #fff;
      cursor: pointer;
      width: 100%;
      margin-bottom: 15px;
      opacity: 0.8;
    }
    .formContainer .cancel {
      background-color: #cc0000;
    }
    .formContainer .btn:hover,
    .openButton:hover {
      opacity: 1;
    }
  </style>
</head>

<body>
  <header class="header">
    <div class="header__container container">
      <a class="header__logo" href="index.html">
        <img src="img/Logo.svg" alt="Логотип MAGIC BOOK KEEPER">
      </a>

      <div class="header__admin admin">
        <a href="{{url_for('personal.person', username=current_user.username)}}" class="admin__link">
          <div class="admin__set">
            <img src="{{url_for('personal.avatar', username=current_user.username)}}" alt="" class="admin__img"> <!--Фото админа из его личного кабинета-->
          </div>
          {{ current_user.username }} личный кабинет<!--Имя админа и ссылка обратно в личный кабинет-->
        </a>
      </div>
    </div>
  </header>

  <main>
    <section class="main">
      <div class="main__container container">

        <div class="main__top">

          <h1 class="main__title">Hello, {{ current_user.username }} admin</h1>
          <!--Hello, имя пользователя!-->

          <svg width="461" height="1" viewBox="0 0 461 1" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line y1="0.5" x2="461" y2="0.5" stroke="black" />
          </svg>

        </div>

        <nav class="nav header__nav">
          <ul class="nav__admin-list list-reset">
            <li class="nav__admin-item">
              <a class="nav__admin-link" onclick="edit_elem_state('users_search')">Список пользователей</a>
            </li>
            <li class="nav__admin-item">
              <a class="nav__admin-link" onclick="edit_elem_state('book_categories')">Список категорий книг</a>
            </li>
            <li class="nav__admin-item">
              <a class="nav__admin-link">Настройки</a>
            </li>
          </ul>
        </nav>
      </div>
    </section>


    <!--При нажатии на кнопку списка пользователей открывается этот блок-->
    <section class="users" id="users_search" style="display: {{ displays["users_search_result_disp"] }}">
      <div class="users__container container">
        <h2 class="users__title">Список пользователей</h2>

        <form class="list__form" action="{{url_for('admin.user_search', username=current_user.username)}}" method="post">     
          <label class="list__form-label">
            <svg class="list__form-icon" width="27" height="26" viewBox="0 0 27 26" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_6_94)">
                <path
                  d="M25.5 24.5556L18.1443 17.4723M18.1443 17.4723C19.9088 15.7732 21 13.426 21 10.8333C21 5.64801 16.6349 1.44446 11.25 1.44446C5.86523 1.44446 1.5 5.64801 1.5 10.8333C1.5 16.0188 5.86523 20.2222 11.25 20.2222C13.9424 20.2222 16.3798 19.1714 18.1443 17.4723Z"
                  stroke="#768298" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" />
              </g>
              <defs>
                <clipPath id="clip0_6_94">
                  <rect width="27" height="26" fill="white" />
                </clipPath>
              </defs>
            </svg>
            <input type="text" name="users_search_result" class="list__form-input" placeholder="Введите имя пользователя.." required>
          </label>
          <button class="list__btn-search" id="get_users">Найти</button>
        </form>
        <script>scroll('get_users')</script>

        {% if user_pagination  %}
          {% if len(users) > 0 %}
            <ul class="users__list list-reset" id="users_search_list">
                {% for user in users %}
                <li class="users__item" id="{{user.id}}user_info">
                  <span class="users__link">
                    <div class="users__set">
                      <img src="{{url_for('personal.avatar', username=user.username)}}" alt="" class="users__img"> <!--Фото админа из его личного кабинета-->
                    </div>
                    {{ user.username }} <!--Имя админа и ссылка обратно в личный кабинет-->
                  </span>
                  <a onclick="del_user('/admin/admin_panel/user_delete/{{user.id}}/{{1}}')" class="users__btn" id="{{user.id}}del_user">Удалить пользователя</a>
                </li>
                {% endfor %}
            </ul>
            <div class="list__pagination pagination" id="user_pagination_container">
              {{ macros.pagination_widget(pagination=user_pagination, url_path='/admin/get_user_search_page/', func_name='get_user_search_page', pagination_id='1pagination') }}
            </div>
          {% else %}
            <h2 class="list__title title">Ничего не найдено</h2>
          {% endif %}
        {% endif %}
      </div>
    </section>


    <section class="category" id="book_categories" style="display: {{ displays["book_categories_disp"] }}">
      <div class="category__container container">
        <h2 class="list__title title">Cписок категорий</h2>
        <ul class="category__list list-reset" id="categories_search_list">
          <section class="loginPopup" id="popupCategoryForm" style="display: {{ displays["add_category_disp"] }}">
            <div class="formPopup">
              <form class="formContainer" action="{{url_for('admin.add_category', username=current_user.username, category_page=category_pagination.page)}}" method="post" id="add_category_form">
                {{form.hidden_tag()}}
                <label class="form__label">
                  {% if form.category_name.errors %}
                  <!--<input type="text" name="list_name" class="form__input" placeholder="Введите название категории..">-->
                  {{form.category_name(class="form__input", placeholder="Введите название категории...")}}
                  <span>
                    {% for msg in form.category_name.errors %}
                    {{ msg }}
                    {% endfor %}
                  </span>
                  {% else %}
                  {{form.category_name(class="form__input", placeholder="Введите название категории...")}}
                  {% endif %}
                </label>
                <button class="comments__btn btn" id="add_category">Добавить</button>
                <button type="button" class="btn cancel" onclick="closeCategoryForm()">Отменить</button>
              </form>
            </div>
          </section>
          <script>scroll('add_category')</script>

            <a class="category__book-link" onclick="openCategoryForm()">
              <li class="category__elem">
                <svg width="78" height="78" viewBox="0 0 78 78" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_139_2)">
                    <rect x="35" width="8" height="78" fill="#D9D9D9" />
                    <rect x="78" y="35" width="8" height="78" transform="rotate(90 78 35)" fill="#D9D9D9" />
                  </g>
                  <defs>
                    <clipPath id="clip0_139_2">
                      <rect width="78" height="78" fill="white" />
                    </clipPath>
                  </defs>
                </svg>
              </li>
            </a>
          {% for category in categories %}
            <li class="category__elem" id="{{category.id}}category_info">
              <a class="category__book-link">{{ category.name }}</a>
              <a onclick="del_category('/admin/admin_panel/category_delete/{{category.id}}/{{1}}', '2pagination')" class="category__btn" id="{{category.id}}del_category">Удалить категорию</a>
            </li>
          {% endfor %}
        </ul>
        {% if category_pagination %}
        <div class="list__pagination pagination" id="category_pagination_container">
          {{ macros.pagination_widget(pagination=category_pagination, url_path='/admin/get_category_search_page/', func_name='get_category_page', pagination_id='2pagination') }}
        </div>
        {% endif %}
      </div>
    </section>


    <!--При нажатии на кнопку соответствующей категории-->
    <section class="list" id="book_search_in_a_category" style="display: {{ displays["books_in_a_category_disp"] }}">
      <div class="container list__container">
        <div class="list__wrap">
          <h2 class="list__title title" id="category_title">Книги в категории</h2> <!--Название категории-->

          <form class="list__form" action="" id="category_book_search" method="post">
            <label class="list__form-label">
              <svg class="list__form-icon" width="27" height="26" viewBox="0 0 27 26" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_6_94)">
                  <path
                    d="M25.5 24.5556L18.1443 17.4723M18.1443 17.4723C19.9088 15.7732 21 13.426 21 10.8333C21 5.64801 16.6349 1.44446 11.25 1.44446C5.86523 1.44446 1.5 5.64801 1.5 10.8333C1.5 16.0188 5.86523 20.2222 11.25 20.2222C13.9424 20.2222 16.3798 19.1714 18.1443 17.4723Z"
                    stroke="#768298" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" />
                </g>
                <defs>
                  <clipPath id="clip0_6_94">
                    <rect width="27" height="26" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              <input type="text" name="search_result" class="list__form-input" placeholder="Введите название книги или автора..">
            </label>
            <button class="list__btn-search" onclick="">Найти</button>
          </form>

          <ul class="list__books list-reset">
          
            <!--Найденные книги-->
            <a href="" class="list__link">
              <li class="list__book list__add">
                <svg width="78" height="78" viewBox="0 0 78 78" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_139_2)">
                    <rect x="35" width="8" height="78" fill="#D9D9D9" />
                    <rect x="78" y="35" width="8" height="78" transform="rotate(90 78 35)" fill="#D9D9D9" />
                  </g>
                  <defs>
                    <clipPath id="clip0_139_2">
                      <rect width="78" height="78" fill="white" />
                    </clipPath>
                  </defs>
                </svg>

              </li>
            </a>

            <li class="list__book">
              <div class="list__top">
                <a href="" class="list__book-set">
                  <img class="list__book-set" src="" alt=""> <!--Перекидываем на страницу книги-->
                </a>


                <div class="list__book-wrap">
                  <a href="" class="list__link">Книга: </a>
                  <a href="#" class="list__link">Автор: </a>
                </div>
              </div>


              <button class="list__btn">Удалить книгу</button>
              <div class="list__show">
                <span class="list__act">Показать оценку</span>
                <span class="list__mark">Оценка</span>
              </div>
            </li>

            <li class="list__book">
              <div class="list__top">
                <a href="" class="list__book-set">
                  <img class="list__book-set" src="" alt="">
                </a>


                <div class="list__book-wrap">
                  <a href="" class="list__link">Книга: </a>
                  <a href="#" class="list__link">Автор: </a>
                </div>
              </div>

              <button class="list__btn">Удалить книгу</button>
              <div class="list__show">
                <span class="list__act">Показать оценку</span>
                <span class="list__mark">Оценка</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer">
    <div class="footer__container container">
      <a href="#" class="footer__wrap">© CLUB | Community Head Hunters</a>
    </div>
  </footer>

</body>

</html>
