{% macro pagination_widget(pagination, endpoint, fragment, book_name) %}
<ul class="pagination__list list-reset">
    <li class="pagination__item disabled">
        &bull;
    </li>
    {% for p in pagination.iter_pages() %}
        {% if p %}
            <li class="pagination__item active">
                <a href="{{ url_for(endpoint, page=p, name=book_name) }}{{ fragment }}" id="comments_pagination">{{ p }}</a>
            </li>
        {% else %}
        <li class="pagination__item disabled"><a href="#">&hellip;</a></li>
        {% endif %}
    {% endfor %}
    <li class="pagination__item disabled">
        &bull;
    </li>
</ul>
{% endmacro %}