{% macro pagination_widget(page_count, range, name, list_id, endpoint='main.search_by_category', fragment='#search_results') %}
<ul class="pagination__list list-reset">
    {% for p in range(1, page_count + 1) %}
            <li class="pagination__item active">
                <a href="{{ url_for(endpoint, name=name, page=p, list_id=list_id) }}{{ fragment }}" id="{{ p }}search_pagination">{{ p }}</a>
            </li>
            <script>scroll({{ p }} + 'search_pagination')</script>
    {% endfor %}
</ul>
{% endmacro %}